<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2013 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <ctx:annotation-config/>
  <ctx:component-scan base-package="com.silverpeas.jcrutil"/>

  <bean id="repository" class="com.silverpeas.jcrutil.BetterRepositoryFactoryBean">
    <property name="configuration" value="classpath:repository-in-memory.xml" />
    <property name="homeDir" value="file://${project.basedir}/target/tmp/jackrabbit.jaas" />
    <property name="configurationProperties">
      <list>
        <value>classpath:/com/silverpeas/jcrutil/Configuration.properties</value>
      </list>
    </property>
  </bean>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/com/silverpeas/jcrutil/Configuration.properties</value>
        <value>classpath:jdbc.properties</value>
      </list>
    </property>
    <property name="searchSystemEnvironment" value="true" />
  </bean>

  <bean id="jpaDataSource" name="jpaDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driver}" />
    <property name="url" value="${jdbc.url}" />
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <property name="maxActive" value="4" />
    <property name="maxIdle" value="4" />
    <property name="maxWait" value="5000" />
    <property name="removeAbandoned" value="true" />
    <property name="removeAbandonedTimeout" value="5000" />
  </bean>


  <bean id="jcrAccessManager" scope="prototype" class="com.stratelia.webactiv.jaas.SilverpeasAccessManager">
    <property name="repository" ref="repository" />
  </bean>

  <bean id="jcrLoginModule" scope="prototype" class="com.stratelia.webactiv.jaas.SilverpeasLoginModule">
    <property name="controller" ref="organizationController" />
    <property name="administrator" ref="adminController" />
    <property name="authenticator" ref="authenticator" />
  </bean>

  <bean id="authenticator" class="org.silverpeas.authentication.AuthenticationService" />

  <!-- ebo <bean id="organizationControllerFactory" class="org.silverpeas.core.admin.OrganisationControllerProvider" factory-method="getFactory" /> -->

  <!-- YCH <bean id="adminController" name="adminController" class="org.silverpeas.core.admin.service.Admin" />-->
  <bean id="basicDaoFactory" class="com.silverpeas.jcrutil.BasicDaoFactory" factory-method="getInstance" />

  <bean id="securityHelper" class="com.silverpeas.jcrutil.security.impl.RepositoryHelper" factory-method="getInstance" />
</beans>
