html, body {
     height: 100%;
}

body {
     font-family: "Arial",sans-serif;
     font-size: 12px;
     margin: 0px;
     padding: 0px;
}

#header {
     background-image: url("/silverpeas/admin/jsp/icons/silverpeas_light/bandeauTop.jpg");
     height: 115px;
     left: 0px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 100;
}

#header h1 {
     display: none;
}

ul, li, p, h1, h2 {
     margin: 0px;
     padding: 0px;
}

#breadcrumb {
     background-color: #2D2D2D;
     color: #FFFFFF;
     left: 0px;
     line-height: 32px;
     padding: 0px 12px;
     position: fixed;
     top: 115px;
     width: 100%;
     z-index: 100;
}

#breadcrumb .validityInfo {
     background-color: #333333;
     border-left: 1px solid #666666;
     border-right: 1px solid #666666;
     color: #FFFFFF;
     padding: 0px 12px;
     position: absolute;
     right: 133px;
     top: 0px;
}

#breadcrumb .silverpeasLink {
     position: absolute;
     right: 10px;
     top: 0px;
}

#breadcrumb .silverpeasLink img {
     border: 0px none;
}

#explorer {
     background-color: #F5F5F5;
     height: 100% ! important;
     left: 0px;
     overflow: auto;
     position: fixed;
     top: 0px;
     width: 35%;
     z-index: 1;
}

#explorer > ul {
     margin: 155px 10px 10px ! important;
}

#publications {
     float: right;
     font-size: 11px;
     height: 100%;
     width: 65%;
}

#publications .container {
     border-left: 1px solid #E5E5E5;
     height: 100%;
}

#publicationsList {
     padding-bottom: 32px;
     padding-top: 147px;
}

#publications ul {
     list-style-type: none;
}

#download-link {
     background: url("generic-elts/btnTelecharger.png") no-repeat scroll right top transparent;
     color: #FFFFFF;
     font-size: 10px;
     height: 30px;
     padding: 104px 8px 0px 0px;
     position: fixed;
     right: -87px;
     text-align: right;
     text-decoration: none;
     top: 215px;
     width: 79px;
}

#download-link:hover {
     background-image: url("generic-elts/btnTelechargerHover.png");
}

#pagination {
     bottom: 0px;
     height: 40px;
     line-height: 20px;
     padding: 0px ! important;
     position: fixed;
     right: 0px;
     width: 65% ! important;
}

#pagination > * {
     margin-left: 10px;
     margin-top: 10px;
}

.pager DIV.short {
     width: 100px;
}

#publications .publication {
     background-color: #FFFFFF;
     background-image: url("generic-elts/gradientSVG.jsp?from=FFFFFF&to=F7F7F7&vertical=0&horizontal=100");
     border-bottom: 1px solid #E5E5E5;
     padding: 12px 12px 6px;
}

#publications .publication .name {
     font-weight: bold;
}

#publications .attachment {
     padding: 4px 0px 0px 56px;
     position: relative;
}

#publications .description {
     margin-bottom: 4px;
}

#publications .attachment a img {
     border: 0px none;
     left: 32px;
     position: absolute;
     top: 4px;
}

#publications .attachment a {
    
}

#publications .attachment .size, #publications .attachment .description {
     color: #333333;
     display: list-item;
}

#publications .attachment input[type="checkbox"] {
     left: 0px;
     position: absolute;
     top: 3px;
}

#empty-folder {
     color: #CCCCCC;
     display: block;
     font-size: 24px;
     text-align: center;
}

#downloadZip-dialog p {
     font-size: 14px;
     margin-top: 22px;
     text-align: center;
}
