@CHARSET "UTF-8";

/********* Titres **********/ 

html,body,p {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 { 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	font-style: normal;
}
h1 {
	font-size: 16px;
	font-weight: bold;
	color: #af2c5a;
}
h2 { 
	font-size: 14px; 
	font-weight: bold;
	color: #5a4c9d;
} 
h3 { 
	color: #8e002a;
	font-size: 12px; 
} 
h4 { 
	font-size: 10px; 
} 
td { 
	font-size: 10px; 
} 

.orange {
	color:#f59237;
}
.bleu {
	color:#6b94be;
}
.bordeaux {
	color:#8e002a;
}
.violet {
	color:#5a4c9d;
}
.vert {
	color:#94bd43
}
.gris {
	color: #9e9e9e;
}


/************* GABARIT SERVICE 2 **************/
.dottedline_rouge {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #A41D5E;
}
.gab2_fondTitre {
	background-image: url(/weblib/customWysiwyg/img/service/gab_2_fondTitreM.jpg);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 18px;
	color: #FFF;
}
.gab2_fond_services {
	background-image: url(/weblib/customWysiwyg/img/service/gab_2_fondDegrad.jpg);
	background-repeat: repeat-x;
	width: 470px;
}
.gab2_fondPhoto {
	background-image: url(/weblib/customWysiwyg/img/service/gab_2_fondPhoto.jpg);
	background-repeat: no-repeat;
	height: 108px;
	width: 206px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
}
.gab2_dottedLigneVerticale {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #AE1B5E;
	width: 14px;
}
li.puce_flecheBleu {
	list-style-image: url(/weblib/customWysiwyg/img/service/gab_2_flecheBleu.jpg);
	margin-bottom: 8px;
}
li.puce_flecheBleu a {
	color: #258aca;
}
