<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <import resource="spring-jpa.xml"/>
  <context:annotation-config/>
  <context:component-scan base-package="com.silverpeas.sharing">
    <context:exclude-filter type="regex" expression="com.silverpeas.sharing.mock.*" />
  </context:component-scan>

  <bean name="sharingServiceFactory"
        class="org.silverpeas.core.sharing.services.SharingServiceProvider" factory-method="getFactory"/>

  <jpa:repositories base-package="com.silverpeas.sharing" transaction-manager-ref="jpaTransactionManager"/>


  <util:list id="entities">
    <value>org.silverpeas.core.sharing.model</value>
  </util:list>
</beans>
