<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <ctx:annotation-config/>
  <ctx:component-scan base-package="com.silverpeas.scheduler"/>
  <ctx:component-scan base-package="com.silverpeas.notification.mock"/>
  
  <!-- the scheduler factory from which Silverpeas components access the scheduler. It bootstraps
       the actual scheduling backend -->
  <bean id="schedulerFactory" class="com.silverpeas.scheduler.SchedulerFactory"
        factory-method="getFactory"/>

  <!-- The administration module -->
  <bean id="adminController" class="com.stratelia.webactiv.beans.admin.Admin"
        depends-on="schedulerFactory"/>
        
</beans>
