<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dataSource" name="dataSource"
        class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
    <constructor-arg value="${jdbc.url}"/>
    <constructor-arg value="${jdbc.username}"/>
    <constructor-arg value="${jdbc.password}"/>
    <constructor-arg value="true"/>
  </bean>

  <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
      </list>
    </property>
  </bean>
</beans>
