*.iws
*.ipr
*.iml
target
.sonar-ide.properties
/lib-core/.settings
/lib-core/.classpath
/lib-core/.project
/config-core/.settings
/config-core/.project
/war-core/.settings
/war-core/.classpath
/war-core/.project
/web-core/.settings
/web-core/.classpath
/web-core/.project
/web-core/src/main/java/META-INF
/war-core/src/main/webapp/META-INF
/ejb-core/channels/.settings
/ejb-core/channels/.classpath
/ejb-core/channels/.project
/ejb-core/channels/src/main/resources/META-INF/MANIFEST.MF
/ejb-core/pdc/.settings
/ejb-core/pdc/.classpath
/ejb-core/pdc/.project
/ejb-core/searchengine/.settings
/ejb-core/searchengine/.classpath
/ejb-core/searchengine/.project
/ejb-core/pdc/src/main/resources/META-INF/MANIFEST.MF
/ejb-core/searchengine/src/main/resources/META-INF/MANIFEST.MF