<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2013 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <ctx:annotation-config/>
  <ctx:component-scan base-package="com.silverpeas.jcrutil"/>
  <ctx:component-scan base-package="org.silverpeas.attachment">
    <ctx:exclude-filter type="regex" expression="org\.silverpeas\.attachment\.web\..*" />
    <ctx:exclude-filter type="regex" expression="org.silverpeas.attachment.mock.SimpleDocumentServiceWrapper" />
  </ctx:component-scan>


  <bean id="repository" class="com.silverpeas.jcrutil.BetterRepositoryFactoryBean" destroy-method="testCleanUp">
    <property name="configuration" value="classpath:repository-in-memory.xml" />
    <property name="homeDir" value="file://${basedir}/target/tmp/temp_jackrabbit" />
    <property name="configurationProperties">
      <list>
        <value>classpath:/com/silverpeas/attachment/Configuration.properties</value>
      </list>
    </property>
    <property name="useSystemProperties" value="true" />
  </bean>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/com/silverpeas/attachment/Configuration.properties</value>
      </list>
    </property>
    <property name="searchSystemEnvironment" value="true" />
  </bean>

  <bean id="basicDaoFactory" class="com.silverpeas.jcrutil.BasicDaoFactory" factory-method="getInstance" />
  <bean id="attachmentServiceFactory" class="org.silverpeas.attachment.AttachmentServiceProvider" factory-method="getInstance" />

  <bean id="securityHelper" class="com.silverpeas.jcrutil.security.impl.RepositoryHelper" factory-method="getInstance" />
  <bean id="jcrAccessManager" scope="prototype" class="com.silverpeas.jcrutil.security.impl.SimpleAccessManager" />
  <bean id="jcrLoginModule" scope="prototype" class="com.silverpeas.jcrutil.security.impl.BasicLoginModule" />
</beans>
