/* 
    Document   : myContactProfil
    Created on : 10 août 2010, 09:45:57
    Author     : azzedine
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* message display page */
.message_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.message_list li {
  padding: 0px;
  margin: 3px;
}

table.PHOTO td img {
  width: 32px; height: 32px; /* Set the small thumbnail size */
  -ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
  left: 0; top: 0;
}
/*****************************************Navigation*******************************/
#navigation {
  float: left;
  width: 20%;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/fondBoard.jpg);
  background-position:right top;
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  border:1px solid #CCCCCC;

}
#navigation .box
{
  background-color:#FFFFFF;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/fondBoard.jpg);
  background-position:right top;
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
#navigation .boxTitle
{
  float: left;
  width: 98%;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/milieuOngletOff.gif);
  background-repeat:repeat-x;
  font-size:11px;
  font-weight:bold;
  height:20px;
  text-align:left;
}
#navigation .boxAction
{
  z-index: 100;
  float: left;
  width: 98%;
  margin: 2px;

}
#navigation .boxAction .boxActionLeft
{
  float: left;
  width: 48%;
}
#navigation .boxAction .boxActionRight
{ text-align: right;
  float: left;
  width: 48%;
}
#navigation .boxContent
{
  float: left;
  width: 98%;
  margin: 2px;
  /*border:1px solid #CCCCCC;*/
}
#navigation .boxContent .boxContact
{
  float: left;
  width: 45%;
  margin: 2px;
}
#navigation .boxContent .boxContact img
{
  width: 65px;
  height:65px;
}
#navigation .box a
{
  color: blue;
}
/*****************************************Header and content*******************************/
#contentAndHeader  {
  float: left;
  width: 75%;
  margin: 0px;
  padding: 0px;
}
/*****************************************Header*******************************/
#contentAndHeader #header  {
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}
#header #photoAndInfo {
  float:left;
  margin:0;
  padding:0;
  width:45%;
}
#header #photoAndInfo #photo{
  float: left;
  margin: 2px;
  padding: 2px;
}
#header #photoAndInfo #info {
  float: left;
  margin: 2px;
  padding: 2px;
}
#header #status {
  text-align: right;
  float: right;
  margin: 5px;
  width: 50%;
  padding: 5px;
}
#header #photoAndInfo #info ul {
  margin: 0;
  padding: 0;
}

#header #photoAndInfo #info ul li {
  display:list-item;
  list-style-type:none;
  padding: 3px;
}

#header #photoAndInfo #info ul li .userName{
  color:blue;
  font-size:14px;
  font-weight:bold;
}/*****************************************content*******************************/
#content  {
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}

#content #userFullInfo
{
  border: 0px;
  width: 100%;
}
#content #SocialInformations
{
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}
#content #SocialInformations img
{
  width: 15px;
  height: 15px;
}
#content #socialIconsZone
{
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
  margin-left:auto;
  margin-right:auto;
}
/***********Style de table générer par getJSON ""SocialInformation"*******************/

/***************************************************************************************/


