<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2013 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Try Silverpeas easily</title>
    <author>Emmanuel Hugonnet</author>
    <author>Miguel Moquillon</author>
  </properties>
  <head>
  </head>
  <body>
    <section name="Try Silverpeas easily with our Graphical Installer">
      <p>
        <img src="../images/logos/logo_izPack.png" alt="izpack" style="padding-right:10px;float:left;position:relative;"/>
        <br/>We provide an easy way to try Silverpeas using
        <a href="http://izpack.org/">Izpack</a> with a pre-configured JBoss Server and an H2 Database.</p>
      <p>
        <b>You have to have a Java 6 JDK installed.</b>
        <br/>
        <b>This version is not suitable for production !</b>.
      </p>
      <ol>
        <li>Download the
          <a href="http://www.silverpeas.org/files/Silverpeas-${installer_stable_version}-installer.jar">installer</a> (~ 253 Mo)
        </li>
        <li>Run the following command (or double click on the jar file)
          <code>java -jar Silverpeas-${installer_stable_version}-installer.jar</code>
        </li>
        <li>When all has been installed, go to the
          <code>bin</code> directory under the installation directory and run the following scripts in that order
          <ol>
            <li>start_db.bat (thus starting the database). <b>Don't close the console</b></li>
            <li>silverpeas_start_jboss.cmd (to start Silverpeas)</li>
          </ol>
        </li>
        <li>Now you can open a browser to
          <a href="http://localhost:8000/silverpeas">http://localhost:8000/silverpeas</a> an login using the account
          <i>SilverAdmin/SilverAdmin</i>
        </li>
        <li>For
          <b>Mac Users</b>, there seems to be a problem when trying Silverpeas offline, Mac OS X Lion doesn't resolve
          <i>localhost</i>.  If you encounter this issue, use the following command:
          <source>sudo ifconfig en0 alias 127.0.0.1</source>.
        </li>
      </ol>
    </section>
    <section name="Try Silverpeas easily from a virtual image">
      <p>
        <img src="../images/logos/logo_usharesoft.png" alt="usharesoft" style="padding-right:10px;float:left;position:relative;"/>
        <br/>Silverpeas is also ready to be deployed in your cloud, thanks to our partner <a href="http://www.usharesoft.com">UShareSoft</a>. So if you want to give it a try go to
        <a href="cloud.html">our page</a> explaining how to get a cloud-ready image of Silverpeas.
      </p>
    </section>
    <section name="Try Silverpeas by using one of our GNU/Linux Native Packages">
      <p>
        <img src="../images/logos/tux.gif" alt="izpack" style="padding-right:10px;float:left;position:relative;"/>
        <br/>We are also providing GNU/Linux native packaging of Silverpeas. So if you want to give it a try go to
        <a href="http://www.silverpeas.org/repo/index.html">our Debian and RPM packages repositories</a>
      </p>
      <p>These packages are ready for both a try or a production use, but we don't guarantee the upgrade will work fine between major versions of Silverpeas.</p>
      <p>If you want to help us to provide a better packaging or propose new formats, feel free to look at the <a href="https://github.com/Silverpeas/silverpeas-native-packages">Github project</a> or to fund our efforts.</p>
    </section>
    <section name="Problems">
      <p>If you encounter a problem during installation or if you have any question, you can post them on the <a href="http://groups.google.com/group/silverpeas-users" >users mailing-list</a></p>
    </section>
  </body>
</document>
