/**MyInfotemplate*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}

#boxes #dialog {
  background-color: #FFFFFF;
  height: 150px;
  padding: 10px;
  width: 500px;
}


#headAndCore {
  float: left;
  width: 75%;
  margin: 0px;
  padding: 0px;
}

#headAndCore #profilHead {
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}

#headAndCore #profilCore {
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}

/********************MyInfosBody*****************************************************/
#headAndCore #profilCore #informations {
  width: 100%;
}

#headAndCore #profilCore #informations .form {
  width: 100%;
  height: 25px;
}

#headAndCore #profilCore #informations .form .attribut {
  float: left;
  width: 25%;
  font-weight: bold;
}

#headAndCore #profilCore #myInfoAction {
  text-align: center;
  padding-left: 40%;
}

#headAndCore #profilCore #myInfoAction .button {
  float: left;
  margin: 4px;
}

/************************************* ProfilHead***********************************/
#headAndCore #profilHead #photoAndInfo {
  float: left;
  width: 100%;
}

#headAndCore #profilHead #photoAndInfo #profilHeadPhote {
  float: left;
  margin: 2px;
  padding: 2px;
}

#headAndCore #profilHead #photoAndInfo #profilHeadPhote .photo {
  width: 90px;
  height: 90px;
}

#headAndCore #profilHead #photoAndInfo #profilHeadinfo {
  height: 100;
  width: 40%;
  float: left;
  vertical-align: middle;
}

#headAndCore #profilHead #photoAndInfo #profilHeadAction {
  float: right;
  height: 100px;
  vertical-align: top;
  width: auto;
}

#headAndCore #profilHead #photoAndInfo #profilHeadAction #status {
  float: left;
  width: auto;
}

#headAndCore #profilHead #photoAndInfo #profilHeadAction #actionStatus {
  float: left;
  vertical-align: top;
}

#boxes #dialog .barre {
  float: right;
  height: 25px;
}

#boxes #dialog .formButton {
  font-size: 0;
  font-weight: bold;
  padding-left: 170px;
  text-align: left;
}

#enabledStat {
  width: 200px;
  height: 50px;
}

/*****************************************MyProfilNavigation*******************************/
#navigation {
  float: left;
  width: 20%;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/fondBoard.jpg);
  background-position:right top;
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  border:1px solid #CCCCCC;
}


#navigation .box
{
  background-color:#FFFFFF;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/fondBoard.jpg);
  background-position:right top;
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
#navigation .boxTitle
{
  float: left;
  width: 98%;
  background-image:url(/silverpeas/admin/jsp/icons/silverpeasV5/milieuOngletOff.gif);
  background-repeat:repeat-x;
  font-size:11px;
  font-weight:bold;
  height:20px;
  text-align:left;
}
#navigation .boxAction
{
  z-index: 100;
  float: left;
  width: 98%;
  margin: 2px;

}
#navigation .boxAction .boxActionLeft
{
  float: left;
  width: 48%;
}
#navigation .boxAction .boxActionRight
{ text-align: right;
  float: left;
  width: 48%;
}
#navigation .boxContent
{
  float: left;
  width: 98%;
  margin: 2px;
  /*border:1px solid #CCCCCC;*/
}
#navigation .boxContent .boxContact
{
  float: left;
  width: 45%;
  margin: 2px;
}
#navigation .boxContent .boxContact img
{
  width: 65px;
  height:65px;
}
#navigation .box a
{
  color: blue;
}

/******************************************MyProfilBody*******************/
/* message display page */
.message_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.message_list li {
  padding: 0px;
  margin: 3px;
}

table.PHOTO td img {
  width: 32px;
  height: 32px; /* Set the small thumbnail size */
  -ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
  left: 0;
  top: 0;
}

/***********Style de table générer par getJSON ""SocialInformation"*******************/
#headAndCore #profilCore #socialIconsZone {
  /*float: left;
		width: 100%;
		margin: 2px;
		padding: 2px;
		margin-left: auto;
		margin-right: auto;*/
  float: left;
  width: 100%;
  padding-left: 20%;
}

#headAndCore #profilCore #socialIconsZone .icon {
  float: left;
  margin: 10px;
}
