<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:hades="http://schemas.synyx.org/hades"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
  http://schemas.synyx.org/hades http://schemas.synyx.org/hades/hades.xsd">

  <context:annotation-config/>

  <hades:dao-config base-package="com.silverpeas" transaction-manager-ref="silverpeasTransactionManager"/>

  <tx:annotation-driven transaction-manager="silverpeasTransactionManager"/>


  <bean id="pupp" class="com.silverpeas.jpa.MergingPersistenceUnitPostProcessor"/>

  <bean id="pum" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
    <property name="persistenceXmlLocations">
      <list>
        <value>classpath*:META-INF/silverpeas-persistence.xml</value>
      </list>
    </property>
    <property name="defaultDataSource" ref="dataSource"/>
    <property name="persistenceUnitPostProcessors">
      <list>
        <ref bean="pupp"/>
      </list>
    </property>
    </bean>

  <bean id="silverpeasTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="silverpeasEntityManagerFactory"/>

  <bean id="silverpeasEntityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource" p:persistenceUnitManager-ref="pum"        
        p:persistenceUnitName="silverpeas-pu">
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
            p:showSql="false"
            p:generateDdl="true"/>
    </property>
  </bean>
</beans>
