<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2009 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!--
 This Spring context configuration file sets up all of the core components required for bootstrapping
 the Silverpeas application. Theses components then can be then refered and used by others
 Silverpeas components.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <ctx:annotation-config/>
  <ctx:component-scan base-package="com.silverpeas.scheduler"/>

  <!-- Silverpeas context initializer. It depends upon some others components to do its job.
       Let's Spring to initialize the Silverpeas application context ;-) -->
  <bean class="com.stratelia.silverpeas.silverpeasinitialize.SilverpeasInitializer"
        init-method="startInitialize" depends-on="schedulerFactory"/>

  <!-- The user authenticator -->
  <bean id="authenticator"
        class="com.stratelia.silverpeas.authentication.LoginPasswordAuthentication" />

  <!-- The controller of the organization and domain management for the Silverpeas administration module -->
  <bean id="organizationController"
        class="com.stratelia.webactiv.beans.admin.OrganizationController"
        depends-on="schedulerFactory" />

  <!-- The administration module -->
  <bean id="adminController" class="com.stratelia.webactiv.beans.admin.Admin"
        depends-on="schedulerFactory"/>

  <!-- the scheduler factory from which Silverpeas components access the scheduler. It bootstraps
       the actual scheduling backend -->
  <bean id="schedulerFactory" class="com.silverpeas.scheduler.SchedulerFactory"
        factory-method="getFactory"/>

</beans>

