<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd    
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <context:annotation-config/>

  <jpa:repositories base-package="com.silverpeas" transaction-manager-ref="jpaTransactionManager"/>
  <jpa:repositories base-package="org.silverpeas" transaction-manager-ref="jpaTransactionManager"/>

  <tx:annotation-driven transaction-manager="jpaTransactionManager"/>


  <bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="entityManagerFactory"/>
        
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:packagesToScan-ref="entities"
        p:dataSource-ref="jpaDataSource"
        p:jpaVendorAdapter-ref="hibernateVendor"
        p:jpaPropertyMap-ref="jpaPropertyMap"/>

  <util:map id="jpaPropertyMap">
    <entry key="hibernate.hbm2ddl.auto" value="validate"/>
    <entry key="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
  </util:map>

  <bean id="hibernateVendor" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
        p:showSql="false" p:generateDdl="false"/>
        
        
  <util:list id="entities">
    <value>com.silverpeas</value>
    <value>org.silverpeas</value>
  </util:list>
</beans>
