<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2011 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!--
 This Spring context configuration file sets up all of the core components required for bootstrapping
 the Silverpeas application. Theses components then can be then refered and used by others
 Silverpeas components.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <ctx:annotation-config/>
  <ctx:component-scan base-package="com.silverpeas.scheduler"/>
  <ctx:component-scan base-package="com.silverpeas.calendar"/>
  <ctx:component-scan base-package="com.silverpeas.accesscontrol"/>
  <ctx:component-scan base-package="com.silverpeas.domains"/>
  <ctx:component-scan base-package="com.silverpeas.look"/>
  <ctx:component-scan base-package="com.silverpeas.personalization"/>
  <ctx:component-scan base-package="com.silverpeas.delegatednews"/>
  <ctx:component-scan base-package="com.stratelia.silverpeas.contentManager"/>
  <ctx:component-scan base-package="com.silverpeas.converter"/>
  <ctx:component-scan base-package="com.silverpeas.subscribe"/>
  <ctx:component-scan base-package="com.silverpeas.admin.notification"/>
  <ctx:component-scan base-package="com.stratelia.silverpeas.silverstatistics.control" />  
  
  <bean id="domainDriverFactory" class="com.silverpeas.domains.DomainDriverFactory" factory-method="getDomainDriverFactory" />

  <!-- The Bean Validator (JSR-303) bootstrapping through Spring. The Hibernate implementation is used -->
  <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

  <!-- Silverpeas context initializer. It depends upon some others components to do its job.
       Let's Spring to initialize the Silverpeas application context ;-) -->
  <bean class="com.stratelia.silverpeas.silverpeasinitialize.SilverpeasInitializer"
        init-method="startInitialize" depends-on="schedulerFactory"/>

  <!-- The user authenticator -->
  <bean id="authenticator"
        class="com.stratelia.silverpeas.authentication.LoginPasswordAuthentication" />

  <!-- The session manager -->
  <bean id="sessionManager"
        class="com.stratelia.silverpeas.peasCore.SessionManager"
        factory-method="getInstance"
        depends-on="schedulerFactory" />

  <!-- The controller of the organization and domain management for the Silverpeas administration module -->
  <bean id="organizationController"
        class="com.stratelia.webactiv.beans.admin.OrganizationController"
        depends-on="schedulerFactory" />
        
  <!-- The factory of the controller of the organization dedicated to non IoC managed beans -->
  <bean id="organizationControllerFactory"
        class="com.stratelia.webactiv.beans.admin.OrganizationControllerFactory"
        factory-method="getFactory" />

  <!-- The administration module -->
  <bean id="adminController" class="com.stratelia.webactiv.beans.admin.Admin"
        depends-on="schedulerFactory"/>
  
  <bean id="adminReference" class="com.stratelia.webactiv.beans.admin.AdminReference"
         factory-method="getInstance"/>

  <!-- the scheduler factory from which Silverpeas components access the scheduler. It bootstraps
       the actual scheduling backend -->
  <bean id="schedulerFactory" class="com.silverpeas.scheduler.SchedulerFactory"
        factory-method="getFactory"/>

  <!-- the Silverpeas look context gathering all of the look aspects -->
  <bean id="silverpeasLook" class="com.silverpeas.look.SilverpeasLook"
        factory-method="getSilverpeasLook" depends-on="organizationController"/>
        
  <!-- the factory of the document format converters available in Silverpeas.
        It wraps and provides an access to the actual converter implementations -->
  <bean id="converterFactory" class="com.silverpeas.converter.DocumentFormatConverterFactory"
        factory-method="getFactory"/>
        
  <!-- the factory of the content management services.
        It wraps and provides an access to the actual content manager managed by the IoC container -->
  <bean id="contentManagerFactory" class="com.stratelia.silverpeas.contentManager.ContentManagerFactory"
        factory-method="getFactory"/>
        
  <!-- the factory of the statistics management services.
        It wraps and provides an access to the actual statisitics manager managed by the IoC container -->
  <bean id="silverStatisticsFactory" class="com.stratelia.silverpeas.silverstatistics.control.SilverStatisticsFactory"
        factory-method="getFactory"/>  

</beans>