<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:hades="http://schemas.synyx.org/hades"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	http://schemas.synyx.org/hades http://schemas.synyx.org/hades/hades.xsd">

    <bean name="subscriveServiceFactory"
        class="com.silverpeas.subscribe.SubscriptionServiceFactory" factory-method="getFactory"/>

</beans>