@import url("basic.css");


/***************************** IMAGES *****************************************/

#headerClassFlow {
	background-position:top right;
	background-repeat:none;
}

.fondDomainsBar {
	background:#222222 url() top left  repeat-y ;/**  Fond de la colonne de gauche **/
	padding-top: 129px;
}

#backHome {
	background:url("") 8px 6px no-repeat ;/**  Logo pour retour à l'accueil **/
	height: 115px;
    left: 0;
    top: 0;
    width: 160px;
	z-index:120
}

#recherche {
	background:#222222 url("imgDesign/fondRecherche.png") top left no-repeat;/**  Fond de la zone recherche **/
	height:129px;
	width:168px;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}



/***************************** COULEURS *****************************************/

a:hover {
	color:#004C99;
}

#administration{
    height: 30px;
    left: 144px;
	width:84px;
	padding:0 16px 0 27px;
    top: 8px;
	background:transparent url(imgDesign/btnAdminsitration.png) 0 0  no-repeat;
	color:#FFF;
	text-align:center;
    line-height: 24px;
	font-size:12px;
}

#pdcFrame {
	background-color:#262827;
	color:#eaeaea;
}

#domainsBar a {
	color:#eaeaea;
}

/* fil ariane */
#browseBar #breadCrumb a:visited, #browseBar #breadCrumb a:active, #browseBar #breadCrumb a:link, #browseBar #breadCrumb a:hover,  #browseBar #breadCrumb, #browseBar .information{
	color: #FFF;
}

/* menu que voulez-vous faire */
#menutoggle {
	background-color: #004C99;
	border:1px solid #2266AA ;
}
#topPage .yuimenu, #kmelia .yuimenu, #attachmentList .yuimenu{
	background-color:#eaeaea;
	border:1px solid #2266AA;
}
#topPage .yuimenu ul, #kmelia .yuimenu ul, #attachmentList .yuimenu ul {
	border-color:#2266AA;
}
.yuimenu a , #portletPages .yuimenu a {
	background-color:#eaeaea;
	color:#2266AA;
}
.yuimenu .yuimenubaritem-selected,
.yuimenu .yuimenuitem-selected {
    background-color: #004C99;

}
.yuimenu a:hover, #portletPages .yuimenu  a:hover{
	color:#FFF;
	background-color: #004C99;
	border-color:#004C99;
}

/**/

#blog #titresTopics a , #blog #titresArchives a, #blog #titresLiens a , .titreCouleur{
	color:#004C99;

}


#myProfileFiche .action .link, #publicProfileFiche #contactCommun .link, #publicProfileFiche #allContact .link ,.txtnav, .txtbigdate, .txttitrecol{
	color:#252122;
	border-color:#ccc;
	}
.txtnav {
	font-size:12px;
}


.ArrayColumn , #classifieds .tableFrame #categories .categoryTitle{
	background-color:#D6D7D9;
	color:#000000;
}
.ArrayColumn a {
	color:#000000;
}
.ArrayColumn a:hover {
	color:#444444;
}

.pageNav {
	background-color:#FFF;
}
.pageNav .pageIndex {
	background-color:transparent;
	border-right:1px solid #004C99;
}


#dNdActionLabel, #footer {color:#FFF}

.rightContent #dNdActionLabel {color:#333}


#settings .txtlibform, #settings .textePetitBold , .pdcPosition h3,
#blog #blogContainer #bandeau a, #backHomeBlog a{
    color: #fff;
}

.eventName a {  color:#004C99 !important;}
.eventMonth{ background-color:#FFF; color:#212322 !important;}
.eventsView #navigation {
	background-color:transparent;
}

/* page portlets */
#portletPages .ui-sortable {
    background: url("") repeat scroll 0 0 transparent;
    border: 0;
}

#portletPages dl.sort dt {
    background-image: url("");
    background-color: #204396;
    border: 0;
}

#portletPages h2.portlet-title {
    color: white;
    border: 0;
}

#portletPages dl.sort {
    margin: 15px 0;
}

#portletPages div.portlet-content {
    background-color: #EAEAEA;
    border: 0 none;
}

/* frame */
.hautFrame {
    background-color: #1a1a1a;
}

.intfdcolor4 {
    background: none repeat scroll 0 0 #EAEAEA;
}

.intfdcolor, .tableBoard {
    background: none repeat scroll 0 0 #EAEAEA !important;
}

/* mon agenda */
#agenda #agendaView {
    width: 95%;
}

#agenda a{
    color: black;
}

/* ArrayPanes */
td.ArrayCell {
    color: black;
}

.tableArrayPane {
    background-color: #EAEAEA;
}

.ArrayColumn, #classifieds .tableFrame #categories .categoryTitle {
    background-color: #204396;
    color: #EAEAEA;
}

.ArrayColumn a {
	color:#EAEAEA;
}

th.ArrayColumn {
    color: #EAEAEA;
}

/* Formulaires */
.spellText, #globalResultQueryLabel, .txtlibform, .textePetitBold, #globalResultParamDisplayLabel, .ArrayNavigation, .txtnote, .legend, .champs {
    color: black;
}

a, #preview .publiName, .txtsublibform {
    color: #EAEAEA;
}

/* board */
.tableBoard a, .tableBoard p, .tableBoard b, .tableBoard span {
    color: black;
    margin: 0;
    padding: 0;
}

.intfdcolor, .tableBoard {
    color: black !important;
    background: none repeat scroll 0 0 #EAEAEA !important;
}

/* pour la liste des publi kmelia */
.intfdcolor4 {
    background: none repeat scroll 0 0 #EAEAEA;
}

.listinUsers .message_list li.intfdcolor, #treeDiv1, #pagination, .newsFeed, #allContact, #identity table, #ReceiveInvitation, li.event, #navBlog, #viewPostDraft, #viewPost, #blog #blogContainer #postsList div.post, #classified-view #commentaires, #agenda #navigation, #agenda #agendaView, #agenda #footer {
    background-color: #EAEAEA;
}

/* almanach */
.fc-day-number {
    color: #666;
}

/* searchResults */
#searchGroupValues {
   background-color: #EAEAEA;
   margin-bottom: 5px;
}

#searchGroupValues a {
   color: black;
}

