<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (C) 2000 - 2013 Silverpeas

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

As a special exception to the terms and conditions of version 3.0 of
the GPL, you may redistribute this Program in connection with Free/Libre
Open Source Software ("FLOSS") applications as described in Silverpeas's
FLOSS exception. You should have received a copy of the text describing
the FLOSS exception, and it is also available here:
"http://www.silverpeas.org/docs/core/legal/floss_exception.html"

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Silverpeas</display-name>
  <description>A Social and Collaborative Portal Organizer</description>

  <context-param>
    <param-name>SILVERPEAS_VERSION</param-name>
    <param-value>${project.version}</param-value>
  </context-param>
  <context-param>
    <!-- Init Parameters -->
    <param-name>request_response_factory.minSizeParam</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>request_response_factory.maxSizeParam</param-name>
    <param-value>200</param-value>
  </context-param>
  <context-param>
    <param-name>request_response_factory.partitionParam</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.validate</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.impl</param-name>
    <param-value>com.sun.portal.portletcontainer.common.descriptor.SunPortletXMLImpl</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.name</param-name>
    <param-value>sun-portlet.xml</param-value>
  </context-param>

  <filter>
    <description>
      To ensure the encoding of the request parameters are in UTF-8. This filter MUST be the first
      one in order to work correctly.
    </description>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <description>
      To decorate the incoming HTTP request by a HttpRequest instance that provides more useful
      functionalities.
    </description>
    <filter-name>HttpServletRequestDecoration</filter-name>
    <filter-class>org.silverpeas.web.filter.HttpServletRequestDecoration</filter-class>
  </filter>
  <filter>
    <!-- MessageFilter Filter -->
    <description>
      To manage for each incoming request, the life-cycle of a l10n message container in which
      are set the messages for the end-user.
    </description>
    <filter-name>MessageFilter</filter-name>
    <filter-class>org.silverpeas.core.web.filter.MessageFilter</filter-class>
  </filter>
  <filter>
    <description>
      To validate each incoming HTTP request to a protected resource by using a synchronizer token
      mechanism.
    </description>
    <filter-name>SessionSynchronizerTokenValidator</filter-name>
    <filter-class>org.silverpeas.web.token.SessionSynchronizerTokenValidator</filter-class>
  </filter>
  <filter>
    <description>
      To force IE to unset its compatibility mode and then to use the latest available features
      of the web navigator.
    </description>
    <filter-name>InternetExplorerAntiCompatibilityFilter</filter-name>
    <filter-class>org.silverpeas.web.filter.InternetExplorerAntiCompatibilityFilter</filter-class>
  </filter>
  <filter>
    <!-- PortletAppEngine Filter -->
    <filter-name>PortletAppEngineFilter</filter-name>
    <filter-class>com.sun.portal.portletcontainer.appengine.PortletAppEngineFilter</filter-class>
  </filter>
  <filter>
    <!-- WebCORSFilter Filter -->
    <description>
      To handle cross-origin resource sharing.
    </description>
    <filter-name>WebCORSFilter</filter-name>
    <filter-class>org.silverpeas.core.web.filter.WebCORSFilter</filter-class>
  </filter>
  <filter>
    <!-- MassiveWebSecurityFilter Filter -->
    <filter-name>MassiveWebSecurityFilter</filter-name>
    <filter-class>org.silverpeas.core.web.filter.MassiveWebSecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HttpServletRequestDecoration</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MessageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionSynchronizerTokenValidator</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>InternetExplorerAntiCompatibilityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PortletAppEngineFilter</filter-name>
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WebCORSFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <!-- MassiveWebSecurityFilter Filter mapping -->
    <filter-name>MassiveWebSecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.silverpeas.web.bootstrap.SilverpeasContextBootStrapper</listener-class>
  </listener>
  <listener>
    <listener-class>org.silverpeas.web.initialization.SilverpeasServiceInitializationListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.silverpeas.web.token.SessionSynchronizerTokenSetter</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.portal.container.service.ServiceManagerContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.portal.portletcontainer.impl.PortletContainerContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>org.silverpeas.core.web.mvc.SilverListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>

  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>org.silverpeas.core.web.authentication.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CredentialsServlet</servlet-name>
    <servlet-class>org.silverpeas.core.web.authentication.CredentialsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileServer</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.FileServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnlineFileServer</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.OnlineFileServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TempFileServer</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.TempFileServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RestOnlineFileServer</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.RestOnlineFileServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToPublication</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToPublication</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToTopic</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToTopic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToComponent</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToComponent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToSpace</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToSpace</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToFile</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToDocument</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToDocument</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToVersion</servlet-name>
    <servlet-class>org.silverpeas.web.servlets.GoToVersion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.core.web.mvc.route.MainRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.silverpeas.core.web.authentication.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>POPUPRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.notificationserver.channel.popup.POPUPRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SILVERMAILRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.notificationserver.channel.silvermail.SILVERMAILRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlertUserPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.alertuser.servlets.AlertUserPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClipboardRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.clipboard.servlets.ClipboardRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenericPanelPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.genericpanel.servlets.GenericPanelPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobDomainPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.jobdomain.servlets.JobDomainPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobDomainPeasAjaxServlet</servlet-name>
    <servlet-class>org.silverpeas.web.jobdomain.servlets.JobDomainPeasAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobDomainPeasGroupPathServlet</servlet-name>
    <servlet-class>org.silverpeas.web.jobdomain.servlets.JobDomainPeasGroupPathServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobDomainPeasComponentPathServlet</servlet-name>
    <servlet-class>org.silverpeas.web.jobdomain.servlets.JobDomainPeasComponentPathServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobManagerPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.jobmanager.servlets.JobManagerPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobOrganizationPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.joborganization.servlets.JobOrganizationPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobStartPagePeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.jobstartpage.servlets.JobStartPagePeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobSearchPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.jobsearch.servlets.JobSearchPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DragAndDrop</servlet-name>
    <servlet-class>org.silverpeas.web.attachment.DragAndDrop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActifyToAttachment</servlet-name>
    <servlet-class>org.silverpeas.web.attachment.ActifyToAttachment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.PdcRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcUtilizationRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.PdcUtilizationRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcClassifyRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.PdcClassifyRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcSearchRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.PdcSearchRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommunicationUserRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.communicationuser.servlets.CommunicationUserRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCommunicationUserServlet</servlet-name>
    <servlet-class>org.silverpeas.web.communicationuser.servlets.AjaxCommunicationUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcSubscriptionPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.pdcsubscription.servlets.PdcSubscriptionPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <description>The webdav servlet that connects HTTP request to the repository.</description>
    <servlet-name>Webdav</servlet-name>
    <servlet-class>org.silverpeas.web.webdav.SilverpeasJcrWebdavServlet</servlet-class>
    <init-param>
      <description>Defines the prefix for spooling resources out of the repository.</description>
      <param-name>resource-path-prefix</param-name>
      <param-value>/repository</param-value>
    </init-param>
    <init-param>
      <description>Defines various dav-resource configuration parameters.</description>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/classes/webdav-config.xml</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <description>The webdav servlet that connects HTTP request to the repository for Office 2000.</description>
    <servlet-name>BasicWebdav</servlet-name>
    <servlet-class>org.silverpeas.web.webdav.SilverpeasJcrWebdavServlet</servlet-class>
    <init-param>
      <description>Defines the prefix for spooling resources out of the repository.</description>
      <param-name>resource-path-prefix</param-name>
      <param-value>/repository2000</param-value>
    </init-param>
    <init-param>
      <description>Defines various dav-resource configuration parameters.</description>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/classes/webdav-config.xml</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PersoPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.personalization.servlets.PersoPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServletSilverpeasV5</servlet-name>
    <servlet-class>org.silverpeas.web.look.AjaxServletLookV5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxActionServlet</servlet-name>
    <servlet-class>org.silverpeas.web.look.AjaxActionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalSpaceJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.look.PersonalSpaceJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.selection.servlets.SelectionPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionPeasWrapper</servlet-name>
    <servlet-class>org.silverpeas.web.selection.servlets.SelectionPeasWrapper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgendaRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.agenda.servlets.AgendaRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToAgenda</servlet-name>
    <servlet-class>org.silverpeas.web.agenda.servlets.GoToAgenda</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgendaRssServlet</servlet-name>
    <servlet-class>org.silverpeas.web.agenda.servlets.AgendaRssServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscribeAgenda</servlet-name>
    <servlet-class>org.silverpeas.web.agenda.servlets.SubscribeAgenda</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PortletContainerDesktopServlet</servlet-name>
    <servlet-class>org.silverpeas.web.portlets.portal.SPDesktopServlet</servlet-class>
    <!-- <load-on-startup>1</load-on-startup> -->
  </servlet>
  <servlet>
    <servlet-name>PortletContainerAdminServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.AdminServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PortletDeployerServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.PortletDeployerServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.UploadServlet</servlet-class>
    <init-param>
      <param-name>MAX_UPLOAD_SIZE</param-name>
      <param-value>1048576000</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <!-- PortletAppEngine Servlet -->
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.appengine.PortletAppEngineServlet</servlet-class>
    <!-- <load-on-startup>10</load-on-startup> -->
  </servlet>
  <servlet>
    <servlet-name>TodoRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.todo.servlets.TodoRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyLinksPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.mylinks.servlets.MyLinksPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterestCenterPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.interests.servlets.InterestCenterPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotificationUserRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.notificationuser.servlets.NotificationUserRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplateDesignerRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.templatedesigner.servlets.TemplateDesignerRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplateDesignerAJAXServlet</servlet-name>
    <servlet-class>org.silverpeas.web.templatedesigner.servlets.TemplateDesignerAJAXServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormLayerServlet</servlet-name>
    <servlet-class>org.silverpeas.web.templatedesigner.servlets.FormLayerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThesaurusRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.thesaurus.servlets.ThesaurusRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VersioningRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.attachment.VersioningRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SilverStatisticsPeasRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.silverstatistics.servlets.SilverStatisticsPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormTemplateRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.formtemplate.servlets.FormTemplateRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileSharingRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.sharing.servlets.FileSharingRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoFromKey</servlet-name>
    <servlet-class>org.silverpeas.web.sharing.servlets.GetInfoFromKeyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLinkFile</servlet-name>
    <servlet-class>org.silverpeas.web.sharing.servlets.GetLinkFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportExportRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.importexport.servlets.ImportExportRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportDragAndDrop</servlet-name>
    <servlet-class>org.silverpeas.web.importexport.servlets.ImportDragAndDrop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkflowDesignerRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.workflowdesigner.servlets.WorkflowDesignerRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebConnectionsRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.external.webconnections.servlets.WebConnectionsRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttachmentAjaxServlet</servlet-name>
    <servlet-class>org.silverpeas.web.attachment.AjaxServlet</servlet-class>
  </servlet>
  <!--
  <servlet>
    <servlet-name>AjaxFileUploadServlet</servlet-name>
    <servlet-class>org.silverpeas.web.upload.AjaxFileUploadServlet</servlet-class>
    <init-param>
      <param-name>UPLOAD_DIRECTORY</param-name>
      <param-value>C:/tmp/ajax</param-value>
    </init-param>
    <init-param>
      <param-name>WHITE_LIST</param-name>
      <param-value>html htm odt doc docx pdf</param-value>
    </init-param>
  </servlet>
  -->
  <servlet>
    <servlet-name>AutocompleteServlet</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.AutocompleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TreeMenuAjaxServlet</servlet-name>
    <servlet-class>org.silverpeas.core.web.treemenu.servlet.TreeMenuAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcAjaxServlet</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.PdcAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchEngineAjaxServlet</servlet-name>
    <servlet-class>org.silverpeas.web.pdc.servlets.SearchEngineAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirectoryRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.directory.servlets.DirectoryRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageDisplay</servlet-name>
    <servlet-class>org.silverpeas.web.directory.servlets.ImageDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InvitationJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.invitation.servlets.InvitationJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfilRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.profil.servlets.ProfilRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyProfilRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.myprofil.servlets.MyProfilRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToMyProfile</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.myprofil.servlets.GoToMyProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyProfilJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.myprofil.servlets.JSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyContactProfilRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.mycontactprofil.servlets.MyContactProfilRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsFeedJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.newsfeed.servlets.NewsFeedJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirectoryJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.directory.servlets.DirectoryJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThumbnailRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.thumbnail.servlets.ThumbnailRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>org.silverpeas.core.web.export.ExportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServletRSS</servlet-name>
    <servlet-class>org.silverpeas.web.look.AjaxServletRSS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoRedirectServlet</servlet-name>
    <servlet-class>org.silverpeas.web.AutoRedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NodesJSONServlet</servlet-name>
    <servlet-class>org.silverpeas.web.node.servlets.GetNodes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SocialNetworkLoginController</servlet-name>
    <servlet-class>org.silverpeas.web.socialnetwork.authentication.SocialNetworkLoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailExistsServlet</servlet-name>
    <servlet-class>org.silverpeas.web.admin.MailExistsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QaptchaServlet</servlet-name>
    <servlet-class>org.silverpeas.web.admin.QaptchaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LaunchWebdavEdition</servlet-name>
    <servlet-class>org.silverpeas.web.attachment.LaunchWebdavEdition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscriptionRequestRouter</servlet-name>
    <servlet-class>org.silverpeas.web.subscription.servlets.SubscriptionRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutlookSyncCalendarServlet</servlet-name>
    <servlet-class>org.silverpeas.web.calendar.OutlookSyncCalendarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TokenWebPageUpdater</servlet-name>
    <servlet-class>org.silverpeas.web.token.ProtectedWebPageUpdater</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/sso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredentialsServlet</servlet-name>
    <url-pattern>/CredentialsServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServer</servlet-name>
    <url-pattern>/FileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineFileServer</servlet-name>
    <url-pattern>/OnlineFileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TempFileServer</servlet-name>
    <url-pattern>/TempFileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestOnlineFileServer</servlet-name>
    <url-pattern>/attached_file/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToPublication</servlet-name>
    <url-pattern>/Publication/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToTopic</servlet-name>
    <url-pattern>/Topic/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToComponent</servlet-name>
    <url-pattern>/Component/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToSpace</servlet-name>
    <url-pattern>/Space/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToFile</servlet-name>
    <url-pattern>/File/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToDocument</servlet-name>
    <url-pattern>/Document/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToVersion</servlet-name>
    <url-pattern>/Version/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainRequestRouter</servlet-name>
    <url-pattern>/Main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>POPUPRequestRouter</servlet-name>
    <url-pattern>/RPOPUP/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SILVERMAILRequestRouter</servlet-name>
    <url-pattern>/RSILVERMAIL/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlertUserPeasRequestRouter</servlet-name>
    <url-pattern>/RalertUserPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClipboardRequestRouter</servlet-name>
    <url-pattern>/Rclipboard/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenericPanelPeasRequestRouter</servlet-name>
    <url-pattern>/RgenericPanelPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDomainPeasRequestRouter</servlet-name>
    <url-pattern>/RjobDomainPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDomainPeasAjaxServlet</servlet-name>
    <url-pattern>/JobDomainPeasAJAXServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDomainPeasGroupPathServlet</servlet-name>
    <url-pattern>/JobDomainPeasGroupPathServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDomainPeasComponentPathServlet</servlet-name>
    <url-pattern>/JobDomainPeasComponentPathServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobManagerPeasRequestRouter</servlet-name>
    <url-pattern>/RjobManagerPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobOrganizationPeasRequestRouter</servlet-name>
    <url-pattern>/RjobOrganizationPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobStartPagePeasRequestRouter</servlet-name>
    <url-pattern>/RjobStartPagePeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobSearchPeasRequestRouter</servlet-name>
    <url-pattern>/RjobSearchPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DragAndDrop</servlet-name>
    <url-pattern>/DragAndDrop/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActifyToAttachment</servlet-name>
    <url-pattern>/ActifyToAttachment/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcRequestRouter</servlet-name>
    <url-pattern>/Rpdc/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcClassifyRequestRouter</servlet-name>
    <url-pattern>/RpdcClassify/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcUtilizationRequestRouter</servlet-name>
    <url-pattern>/RpdcUtilization/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcSearchRequestRouter</servlet-name>
    <url-pattern>/RpdcSearch/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommunicationUserRequestRouter</servlet-name>
    <url-pattern>/RcommunicationUser/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCommunicationUserServlet</servlet-name>
    <url-pattern>/RAjaxCommunicationUserServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcSubscriptionPeasRequestRouter</servlet-name>
    <url-pattern>/RpdcSubscriptionPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasicWebdav</servlet-name>
    <url-pattern>/repository2000/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersoPeasRequestRouter</servlet-name>
    <url-pattern>/Rpersonalization/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServletSilverpeasV5</servlet-name>
    <url-pattern>/RAjaxSilverpeasV5/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxActionServlet</servlet-name>
    <url-pattern>/RAjaxAction/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalSpaceJSONServlet</servlet-name>
    <url-pattern>/PersonalSpace/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionPeasRequestRouter</servlet-name>
    <url-pattern>/RselectionPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionPeasWrapper</servlet-name>
    <url-pattern>/RselectionPeasWrapper/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgendaRequestRouter</servlet-name>
    <url-pattern>/Ragenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToAgenda</servlet-name>
    <url-pattern>/Agenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgendaRssServlet</servlet-name>
    <url-pattern>/rssAgenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscribeAgenda</servlet-name>
    <url-pattern>/SubscribeAgenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletContainerDesktopServlet</servlet-name>
    <url-pattern>/dt/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletContainerAdminServlet</servlet-name>
    <url-pattern>/portletAdmin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletDeployerServlet</servlet-name>
    <url-pattern>/portletDeployer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/portletUploader</url-pattern>
  </servlet-mapping>
  <!-- PAE Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <url-pattern>/servlet/PortletAppEngineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoRequestRouter</servlet-name>
    <url-pattern>/Rtodo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyLinksPeasRequestRouter</servlet-name>
    <url-pattern>/RmyLinksPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterestCenterPeasRequestRouter</servlet-name>
    <url-pattern>/RinterestCenterPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationUserRequestRouter</servlet-name>
    <url-pattern>/RnotificationUser/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateDesignerRequestRouter</servlet-name>
    <url-pattern>/RtemplateDesigner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateDesignerAJAXServlet</servlet-name>
    <url-pattern>/AjaxTemplateDesigner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormLayerServlet</servlet-name>
    <url-pattern>/FormLayer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThesaurusRequestRouter</servlet-name>
    <url-pattern>/Rthesaurus/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersioningRequestRouter</servlet-name>
    <url-pattern>/RVersioningPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SilverStatisticsPeasRequestRouter</servlet-name>
    <url-pattern>/RsilverStatisticsPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormTemplateRequestRouter</servlet-name>
    <url-pattern>/RformTemplate/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileSharingRequestRouter</servlet-name>
    <url-pattern>/RfileSharing/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoFromKey</servlet-name>
    <url-pattern>/Ticket/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLinkFile</servlet-name>
    <url-pattern>/LinkFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportExportRequestRouter</servlet-name>
    <url-pattern>/RimportExportPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportDragAndDrop</servlet-name>
    <url-pattern>/RImportDragAndDrop/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkflowDesignerRequestRouter</servlet-name>
    <url-pattern>/RworkflowDesigner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebConnectionsRequestRouter</servlet-name>
    <url-pattern>/RwebConnections/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentAjaxServlet</servlet-name>
    <url-pattern>/Attachment/*</url-pattern>
  </servlet-mapping>
  <!--
  <servlet-mapping>
    <servlet-name>AjaxFileUploadServlet</servlet-name>
    <url-pattern>/ajaxupload/*</url-pattern>
  </servlet-mapping>
  -->
  <servlet-mapping>
    <servlet-name>AutocompleteServlet</servlet-name>
    <url-pattern>/AutocompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeMenuAjaxServlet</servlet-name>
    <url-pattern>/TreeMenuAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcAjaxServlet</servlet-name>
    <url-pattern>/PdcAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEngineAjaxServlet</servlet-name>
    <url-pattern>/SearchEngineAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectoryRequestRouter</servlet-name>
    <url-pattern>/Rdirectory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDisplay</servlet-name>
    <url-pattern>/display/avatar/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvitationJSONServlet</servlet-name>
    <url-pattern>/InvitationJSON</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfilRequestRouter</servlet-name>
    <url-pattern>/Rprofil/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyProfilRequestRouter</servlet-name>
    <url-pattern>/RMyProfil/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToMyProfile</servlet-name>
    <url-pattern>/MyProfil/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyProfilJSONServlet</servlet-name>
    <url-pattern>/RmyProfilJSON/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyContactProfilRequestRouter</servlet-name>
    <url-pattern>/RContactProfile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsFeedJSONServlet</servlet-name>
    <url-pattern>/RnewsFeedJSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectoryJSONServlet</servlet-name>
    <url-pattern>/DirectoryJSON</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThumbnailRequestRouter</servlet-name>
    <url-pattern>/Thumbnail/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/Export/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServletRSS</servlet-name>
    <url-pattern>/RAjaxRSS/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NodesJSONServlet</servlet-name>
    <url-pattern>/Explorer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenWebPageUpdater</servlet-name>
    <url-pattern>/util/javaScript/silverpeas-tkn.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoRedirectServlet</servlet-name>
    <url-pattern>/autoRedirect.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LaunchWebdavEdition</servlet-name>
    <url-pattern>/attachment/jsp/launch.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialNetworkLoginController</servlet-name>
    <url-pattern>/SocialNetworkLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailExistsServlet</servlet-name>
    <url-pattern>/MailExists</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QaptchaServlet</servlet-name>
    <url-pattern>/Qaptcha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscriptionRequestRouter</servlet-name>
    <url-pattern>/RSubscription/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutlookSyncCalendarServlet</servlet-name>
    <url-pattern>/ImportCalendar/*</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>org.silverpeas.spnego.SpnegoGSSException</exception-type>
    <location>/Login.jsp?ErrorCode=Error_SsoNotAllowed</location>
  </error-page>
  <error-page>
    <exception-type>org.silverpeas.spnego.SpnegoUnsupportedOperationException</exception-type>
    <location>/Login.jsp?ErrorCode=Error_SsoNotAllowed</location>
  </error-page>
  <error-page>
    <exception-type>org.silverpeas.spnego.SpnegoUnauthenticatedException</exception-type>
    <location>/Login.jsp?ErrorCode=Error_SsoNotAllowed</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/Error401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/Error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>org.silverpeas.core.admin.space.quota.process.check.exception.DataStorageQuotaException</exception-type>
    <location>/admin/jsp/errorpageDataStorageQuota.jsp</location>
  </error-page>
  <error-page>
    <exception-type>org.silverpeas.core.admin.component.exception.ComponentFileFilterException</exception-type>
    <location>/admin/jsp/errorpageForbiddenFile.jsp</location>
  </error-page>

  <security-constraint>
    <display-name>Authentification</display-name>
    <web-resource-collection>
      <web-resource-name>Authentification</web-resource-name>
      <description/>
      <url-pattern>/AuthenticationServlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Default Login page</web-resource-name>
      <description/>
      <url-pattern>/defaultLogin.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Login page</web-resource-name>
      <description/>
      <url-pattern>/Login.jsp</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description>SSL</description>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <session-config>
    <cookie-config>
      <http-only>true</http-only>
      <secure>false</secure>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <resource-env-ref>
    <description>Content Repository</description>
    <resource-env-ref-name>jcr/repository</resource-env-ref-name>
    <resource-env-ref-type>javax.jcr.Repository</resource-env-ref-type>
    <lookup-name>java:/jca/jcr</lookup-name>
  </resource-env-ref>
</web-app>
