<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright (C) 2000 - 2009 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have recieved a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app version="2.4">
  <display-name >Silverpeas</display-name>
  <description>Collaborative portal organizer</description>

  <context-param>
    <!-- Init Parameters -->
    <param-name>request_response_factory.minSizeParam</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>request_response_factory.maxSizeParam</param-name>
    <param-value>200</param-value>
  </context-param>
  <context-param>
    <param-name>request_response_factory.partitionParam</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.validate</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.impl</param-name>
    <param-value>com.sun.portal.portletcontainer.common.descriptor.SunPortletXMLImpl</param-value>
  </context-param>
  <context-param>
    <param-name>vendorPortletXML.sun.name</param-name>
    <param-value>sun-portlet.xml</param-value>
  </context-param>


  <filter>
    <!-- PortletAppEngine Filter -->
    <filter-name>PortletAppEngineFilter</filter-name>
    <filter-class>com.sun.portal.portletcontainer.appengine.PortletAppEngineFilter</filter-class>
  </filter>
  <filter>
    <!-- Login Filter -->
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.stratelia.webactiv.filter.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <!-- PAE Filter Mapping -->
    <filter-name>PortletAppEngineFilter</filter-name>
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <!-- Login Filter Mapping-->
    <filter-name>LoginFilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
  </filter-mapping>

  <listener>
    <listener-class>com.sun.portal.container.service.ServiceManagerContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.portal.portletcontainer.impl.PortletContainerContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>com.stratelia.webactiv.servlets.SilverListener</listener-class>
  </listener>

  <servlet>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.stratelia.silverpeas.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CredentialsServlet</servlet-name>
    <display-name>CredentialsServlet</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.webactiv.servlets.CredentialsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>OnlineFileServer</display-name>
    <display-name>FileServer</display-name>
    <servlet-name>FileServer</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.FileServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>OnlineFileServer</display-name>
    <servlet-name>OnlineFileServer</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.OnlineFileServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>TempFileServer</display-name>
    <servlet-name>TempFileServer</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.TempFileServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploader</servlet-name>
    <display-name>FileUploader</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.FileUploader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RestOnlineFileServer</servlet-name>
    <display-name>RestOnlineFileServer</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.RestOnlineFileServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToPublication</display-name>
    <servlet-name>GoToPublication</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToPublication</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToTopic</display-name>
    <servlet-name>GoToTopic</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToTopic</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToComponent</display-name>
    <servlet-name>GoToComponent</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToComponent</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToSpace</display-name>
    <servlet-name>GoToSpace</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToSpace</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToFile</servlet-name>
    <display-name>GoToFile</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToDocument</servlet-name>
    <display-name>GoToDocument</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.webactiv.servlets.GoToDocument</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToVersion</servlet-name>
    <display-name>GoToVersion</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.webactiv.servlets.GoToVersion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainRequestRouter</servlet-name>
    <display-name>MainRequestRouter</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.MainRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>LoginServlet</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <display-name>LogoutServlet</display-name>
    <servlet-class>com.stratelia.webactiv.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>POPUPRequestRouter</servlet-name>
    <display-name>POPUPRequestRouter</display-name>
    <servlet-class>com.silverpeas.notificationserver.channel.popup.POPUPRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SILVERMAILRequestRouter</servlet-name>
    <display-name>SILVERMAILRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.notificationserver.channel.silvermail.SILVERMAILRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlertUserPeasRequestRouter</servlet-name>
    <display-name>AlertUserPeasRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.alertUserPeas.servlets.AlertUserPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClipboardRequestRouter</servlet-name>
    <display-name>ClipboardRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.clipboardPeas.servlets.ClipboardRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenericPanelPeasRequestRouter</servlet-name>
    <display-name>GenericPanelPeasRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.genericPanelPeas.servlets.GenericPanelPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobDomainPeasRequestRouter</servlet-name>
    <display-name>JobDomainPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.jobDomainPeas.servlets.JobDomainPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobManagerPeasRequestRouter</servlet-name>
    <display-name>JobManagerPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.jobManagerPeas.servlets.JobManagerPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobOrganizationPeasRequestRouter</servlet-name>
    <display-name>JobOrganizationPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.jobOrganizationPeas.servlets.JobOrganizationPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JobStartPagePeasRequestRouter</servlet-name>
    <display-name>JobStartPagePeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.jobStartPagePeas.servlets.JobStartPagePeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DragAndDrop</servlet-name>
    <display-name>DragAndDrop</display-name>
    <servlet-class>com.silverpeas.attachment.servlets.DragAndDrop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActifyToAttachment</servlet-name>
    <display-name>ActifyToAttachment</display-name>
    <description>Acknowledge of 3d conversion</description>
    <servlet-class>com.silverpeas.attachment.servlets.ActifyToAttachment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcRequestRouter</servlet-name>
    <display-name>PdcRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.pdcPeas.servlets.PdcRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcUtilizationRequestRouter</servlet-name>
    <display-name>PdcUtilizationRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.pdcPeas.servlets.PdcUtilizationRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcClassifyRequestRouter</servlet-name>
    <display-name>PdcClassifyRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.pdcPeas.servlets.PdcClassifyRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcSearchRequestRouter</servlet-name>
    <display-name>PdcSearchRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.pdcPeas.servlets.PdcSearchRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommunicationUserRequestRouter</servlet-name>
    <display-name>CommunicationUserRequestRouter</display-name>
    <servlet-class>com.silverpeas.communicationUser.servlets.CommunicationUserRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCommunicationUserServlet</servlet-name>
    <display-name>AjaxCommunicationUserServlet</display-name>
    <servlet-class>com.silverpeas.communicationUser.servlets.AjaxCommunicationUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdcSubscriptionPeasRequestRouter</servlet-name>
    <display-name>PdcSubscriptionPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.pdcSubscriptionPeas.servlets.PdcSubscriptionPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RMI</servlet-name>
    <servlet-class>org.apache.jackrabbit.servlet.remote.RemoteBindingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Webdav</servlet-name>
    <description>The webdav servlet that connects HTTP request to the repository.</description>
    <servlet-class>com.silverpeas.jcrutil.servlets.SimpleWebdavServlet</servlet-class>
    <init-param>
      <param-name>resource-path-prefix</param-name>
      <param-value>/repository</param-value>
      <description>Defines the prefix for spooling resources out of the repository.</description>
    </init-param>
    <init-param>
      <param-name>resource-config</param-name>
      <param-value>/WEB-INF/classes/webdav-config.xml</param-value>
      <description>Defines various dav-resource configuration parameters.</description>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JcrInitializer</servlet-name>
    <display-name>JcrInitializer</display-name>
    <description>Initialize JackRabbit</description>
    <servlet-class>com.silverpeas.jcrutil.servlets.RepositoryAccessServlet</servlet-class>
    <init-param>
      <param-name>configuration</param-name>
      <param-value>/WEB-INF/spring-jcr.xml /WEB-INF/spring-jdbc-datasource.xml</param-value>
      <description>Spring JCR configuration file</description>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PersoPeasRequestRouter</servlet-name>
    <display-name>PersoPeasRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.personalizationPeas.servlets.PersoPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServletSilverpeasV5</servlet-name>
    <display-name>AjaxServletSilverpeasV5</display-name>
    <servlet-class>com.silverpeas.lookV5.AjaxServletLookV5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionPeasRequestRouter</servlet-name>
    <display-name>SelectionPeasRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.selectionPeas.servlets.SelectionPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionPeasWrapper</servlet-name>
    <display-name>SelectionPeasWrapper</display-name>
    <servlet-class>com.stratelia.silverpeas.selectionPeas.servlets.SelectionPeasWrapper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgendaRequestRouter</servlet-name>
    <display-name>AgendaRequestRouter</display-name>
    <servlet-class>com.stratelia.webactiv.agenda.servlets.AgendaRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoToAgenda</servlet-name>
    <display-name>GoToAgenda</display-name>
    <servlet-class>com.stratelia.webactiv.agenda.servlets.GoToAgenda</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgendaRssServlet</servlet-name>
    <display-name>AgendaRssServlet</display-name>
    <servlet-class>com.stratelia.webactiv.agenda.servlets.AgendaRssServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscribeAgenda</servlet-name>
    <display-name>SubscribeAgenda</display-name>
    <servlet-class>com.stratelia.webactiv.agenda.servlets.SubscribeAgenda</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PortletRequestRooter</servlet-name>
    <display-name>PortletRequestRooter</display-name>
    <servlet-class>com.stratelia.silverpeas.portlet.control.PortletRequestRooter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxPortlet</servlet-name>
    <display-name>AjaxPortlet</display-name>
    <servlet-class>com.silverpeas.portlets.AjaxPortlets</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PortletContainerDesktopServlet</servlet-name>
    <servlet-class>com.silverpeas.portlets.portal.SPDesktopServlet</servlet-class>
    <!-- <load-on-startup>1</load-on-startup> -->
  </servlet>
  <servlet>
    <servlet-name>PortletContainerAdminServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.AdminServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PortletDeployerServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.PortletDeployerServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.driver.admin.UploadServlet</servlet-class>
    <init-param>
      <param-name>MAX_UPLOAD_SIZE</param-name>
      <param-value>1048576000</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <!-- PortletAppEngine Servlet -->
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <servlet-class>com.sun.portal.portletcontainer.appengine.PortletAppEngineServlet</servlet-class>
    <!-- <load-on-startup>10</load-on-startup> -->
  </servlet>
  <servlet>
    <servlet-name>TodoRequestRouter</servlet-name>
    <display-name>TodoRequestRouter</display-name>
    <servlet-class>com.stratelia.webactiv.todo.servlets.TodoRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyLinksPeasRequestRouter</servlet-name>
    <display-name>MyLinksPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.myLinksPeas.servlets.MyLinksPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterestCenterPeasRequestRouter</servlet-name>
    <display-name>InterestCenterPeasRequestRouter</display-name>
    <servlet-class>com.silverpeas.interestCenterPeas.servlets.InterestCenterPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotificationUserRequestRouter</servlet-name>
    <display-name>NotificationUserRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.notificationUser.servlets.NotificationUserRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplateDesignerRequestRouter</servlet-name>
    <display-name>TemplateDesignerRequestRouter</display-name>
    <servlet-class>com.silverpeas.templatedesigner.servlets.TemplateDesignerRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThesaurusRequestRouter</servlet-name>
    <display-name>ThesaurusRequestRouter</display-name>
    <servlet-class>com.silverpeas.thesaurusPeas.servlets.ThesaurusRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VersioningRequestRouter</servlet-name>
    <display-name>VersioningRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.versioningPeas.servlets.VersioningRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SilverStatisticsPeasRequestRouter</servlet-name>
    <display-name>SilverStatisticsPeasRequestRouter</display-name>
    <servlet-class>com.stratelia.silverpeas.silverStatisticsPeas.servlets.SilverStatisticsPeasRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>com.stratelia.silverpeas.silverStatisticsPeas.servlets.ChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormTemplateRequestRouter</servlet-name>
    <display-name>FormTemplateRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.formTemplate.servlets.FormTemplateRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VersioningDragAndDrop</servlet-name>
    <display-name>VersioningDragAndDrop</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.silverpeas.versioningPeas.servlets.DragAndDrop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileSharingRequestRouter</servlet-name>
    <display-name>FileSharingRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.external.filesharing.servlets.FileSharingRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoFromKey</servlet-name>
    <display-name>GetInfoFromKey</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.external.filesharing.servlets.GetInfoFromKeyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLinkFile</servlet-name>
    <display-name>GetLinkFile</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.external.filesharing.servlets.GetLinkFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportExportRequestRouter</servlet-name>
    <display-name>ImportExportRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.importExportPeas.servlets.ImportExportRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportDragAndDrop</servlet-name>
    <display-name>ImportDragAndDrop</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.importExportPeas.servlets.ImportDragAndDrop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkflowDesignerRequestRouter</servlet-name>
    <display-name>WorkflowDesignerRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.workflowdesigner.servlets.WorkflowDesignerRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebConnectionsRequestRouter</servlet-name>
    <display-name>WebConnectionsRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.external.webConnections.servlets.WebConnectionsRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttachmentAjaxServlet</servlet-name>
    <display-name>AttachmentAjaxServlet</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.attachment.servlets.AjaxServlet</servlet-class>
  </servlet>
  <!--
  <servlet>
    <servlet-name>AjaxFileUploadServlet</servlet-name>
    <display-name>AjaxFileUploadServlet</display-name>
    <servlet-class>com.silverpeas.servlets.upload.AjaxFileUploadServlet</servlet-class>
    <init-param>
      <param-name>UPLOAD_DIRECTORY</param-name>
      <param-value>C:/tmp/ajax</param-value>
    </init-param>
  </servlet>
  -->


  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredentialsServlet</servlet-name>
    <url-pattern>/CredentialsServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServer</servlet-name>
    <url-pattern>/FileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineFileServer</servlet-name>
    <url-pattern>/OnlineFileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TempFileServer</servlet-name>
    <url-pattern>/TempFileServer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestOnlineFileServer</servlet-name>
    <url-pattern>/attached_file/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToPublication</servlet-name>
    <url-pattern>/Publication/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToTopic</servlet-name>
    <url-pattern>/Topic/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToComponent</servlet-name>
    <url-pattern>/Component/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToSpace</servlet-name>
    <url-pattern>/Space/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToFile</servlet-name>
    <url-pattern>/File/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToDocument</servlet-name>
    <url-pattern>/Document/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToVersion</servlet-name>
    <url-pattern>/Version/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainRequestRouter</servlet-name>
    <url-pattern>/Main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>POPUPRequestRouter</servlet-name>
    <url-pattern>/RPOPUP/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SILVERMAILRequestRouter</servlet-name>
    <url-pattern>/RSILVERMAIL/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlertUserPeasRequestRouter</servlet-name>
    <url-pattern>/RalertUserPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClipboardRequestRouter</servlet-name>
    <url-pattern>/Rclipboard/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenericPanelPeasRequestRouter</servlet-name>
    <url-pattern>/RgenericPanelPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDomainPeasRequestRouter</servlet-name>
    <url-pattern>/RjobDomainPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobManagerPeasRequestRouter</servlet-name>
    <url-pattern>/RjobManagerPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobOrganizationPeasRequestRouter</servlet-name>
    <url-pattern>/RjobOrganizationPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobStartPagePeasRequestRouter</servlet-name>
    <url-pattern>/RjobStartPagePeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DragAndDrop</servlet-name>
    <url-pattern>/DragAndDrop/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActifyToAttachment</servlet-name>
    <url-pattern>/ActifyToAttachment/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcRequestRouter</servlet-name>
    <url-pattern>/Rpdc/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcClassifyRequestRouter</servlet-name>
    <url-pattern>/RpdcClassify/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcUtilizationRequestRouter</servlet-name>
    <url-pattern>/RpdcUtilization/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcSearchRequestRouter</servlet-name>
    <url-pattern>/RpdcSearch/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommunicationUserRequestRouter</servlet-name>
    <url-pattern>/RcommunicationUser/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCommunicationUserServlet</servlet-name>
    <url-pattern>/RAjaxCommunicationUserServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdcSubscriptionPeasRequestRouter</servlet-name>
    <url-pattern>/RpdcSubscriptionPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RMI</servlet-name>
    <url-pattern>/rmi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Webdav</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JcrInitializer</servlet-name>
    <url-pattern>/startRepository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersoPeasRequestRouter</servlet-name>
    <url-pattern>/Rpersonalization/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServletSilverpeasV5</servlet-name>
    <url-pattern>/RAjaxSilverpeasV5/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionPeasRequestRouter</servlet-name>
    <url-pattern>/RselectionPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionPeasWrapper</servlet-name>
    <url-pattern>/RselectionPeasWrapper/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgendaRequestRouter</servlet-name>
    <url-pattern>/Ragenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToAgenda</servlet-name>
    <url-pattern>/Agenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgendaRssServlet</servlet-name>
    <url-pattern>/rssAgenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscribeAgenda</servlet-name>
    <url-pattern>/SubscribeAgenda/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletRequestRooter</servlet-name>
    <url-pattern>/Rportlet/jsp/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxPortlet</servlet-name>
    <url-pattern>/RAjaxPortlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletContainerDesktopServlet</servlet-name>
    <url-pattern>/dt/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletContainerAdminServlet</servlet-name>
    <url-pattern>/portletAdmin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PortletDeployerServlet</servlet-name>
    <url-pattern>/portletDeployer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/portletUploader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <!-- PAE Servlet Mapping -->
    <servlet-name>PortletAppEngineServlet</servlet-name>
    <url-pattern>/servlet/PortletAppEngineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoRequestRouter</servlet-name>
    <url-pattern>/Rtodo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyLinksPeasRequestRouter</servlet-name>
    <url-pattern>/RmyLinksPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterestCenterPeasRequestRouter</servlet-name>
    <url-pattern>/RinterestCenterPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationUserRequestRouter</servlet-name>
    <url-pattern>/RnotificationUser/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateDesignerRequestRouter</servlet-name>
    <url-pattern>/RtemplateDesigner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThesaurusRequestRouter</servlet-name>
    <url-pattern>/Rthesaurus/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersioningRequestRouter</servlet-name>
    <url-pattern>/RVersioningPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SilverStatisticsPeasRequestRouter</servlet-name>
    <url-pattern>/RsilverStatisticsPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormTemplateRequestRouter</servlet-name>
    <url-pattern>/RformTemplate/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersioningDragAndDrop</servlet-name>
    <url-pattern>/VersioningDragAndDrop/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileSharingRequestRouter</servlet-name>
    <url-pattern>/RfileSharing/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoFromKey</servlet-name>
    <url-pattern>/Ticket/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLinkFile</servlet-name>
    <url-pattern>/LinkFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportExportRequestRouter</servlet-name>
    <url-pattern>/RimportExportPeas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportDragAndDrop</servlet-name>
    <url-pattern>/RImportDragAndDrop/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkflowDesignerRequestRouter</servlet-name>
    <url-pattern>/RworkflowDesigner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebConnectionsRequestRouter</servlet-name>
    <url-pattern>/RwebConnections/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentAjaxServlet</servlet-name>
    <url-pattern>/Attachment/*</url-pattern>
  </servlet-mapping>
  <!--
  <servlet-mapping>
    <servlet-name>AjaxFileUploadServlet</servlet-name>
    <url-pattern>/ajaxupload/*</url-pattern>
  </servlet-mapping>
  -->

  <jsp-config>
    <taglib>
      <!-- taglib for portlet v1.0 -->
      <taglib-uri>http://java.sun.com/portlet</taglib-uri>
      <taglib-location>/WEB-INF/portlet.tld</taglib-location>
    </taglib>
    <taglib>
      <!-- taglib for portlet v2.0 -->
      <taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
      <taglib-location>/WEB-INF/portlet_2_0.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>

