
@import url("basic.css");

.fondDomainsBar {
     background: url("") repeat scroll left top #FFFFFF;
}

#backHome {
     background: url("imgDesign/logo.png") no-repeat scroll 7px 0px transparent;
     height: 115px;
     left: 0px;
     top: 0px;
     width: 189px;
}

#backHome img {
     height: 115px ! important;
     width: 214px ! important;
}

#recherche {
     background: url("imgDesign/fondRecherche.png") no-repeat scroll left top transparent;
     left: 0px;
     top: 0px;
     width: 250px;
     z-index: 100;
}

#domainsBar {
     background: none no-repeat scroll left top transparent;
}

#tabDivId {
     background: none no-repeat scroll 0px -121px transparent;
}

a:hover {
     color: #444443;
}

#administration a {
     background: url("imgDesign/bg-btn-admin.png") no-repeat scroll right 7px transparent;
     color: #FFFFFF;
     display: block;
     font-family: "Century Gothic","Trebuchet MS",Arial, sans serif;
     font-weight: 100;
     height: 60px;
     line-height: 60px;
     padding: 0px 45px 0px 15px;
     width: 116px;
}

#administration a:hover, #administration a:focus {
     background-color: #EC9C01;
}

#pdcFrame {
     background: url("") repeat-x scroll left top #D0CFCB;
     color: #353535;
}

#domainsBar a {

}

#browseBar #breadCrumb a:visited, #browseBar #breadCrumb a:active, #browseBar #breadCrumb a:link, #browseBar #breadCrumb a:hover, #browseBar #breadCrumb, #browseBar .information {
     color: #575757;
}

.spaceLevel1On .contentSpace {
     border-bottom: 1px solid #EEEEEE;
     padding-bottom: 10px;
}

.spaceLevel1On .contentSpace, #contentSpacespacePerso {
     background-color: transparent;
}

#domainsBar #spaces a:hover, #domainsBar #spaceTransverse a:hover {
     color: #7EB73B;
}

#domainsBar .spaceLevel1 a.spaceURL, #domainsBar .spaceLevel1On a.spaceURL {
     background: url("imgDesign/bg_menu_level1.png") no-repeat scroll 0px bottom transparent;
     color: #555;
     display: block;
     font-weight: 100;
     line-height: 19px;
     min-height: 18px;
     padding: 13px 10px 17px  45px;
}

#domainsBar .spaceLevel1 a.spaceURL:hover {
     background: url("imgDesign/bg_menu_level1Hover.png") no-repeat scroll  0px bottom  transparent;
     color: #101010;
}

#domainsBar .spaceLevel1On a.spaceURL:hover, #domainsBar .spaceLevel1On a.spaceURL {
     background: url("imgDesign/bg_menu_level1On.png") no-repeat scroll  0px bottom  #FFFFFF;
     color: #101010;
     padding-left: 15px;
}

#domainsBar .spaceLevel1On .browseSpace > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 8px -2px transparent;
     font-weight: 100;
     padding: 4px 10px 4px 32px;
     position: relative;
}

#domainsBar .spaceLevel1On .contentSpace .spaceOn > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 8px -153px transparent;
     color: #72AA2F;
}

#domainsBar .spaceLevel1On .browseSpace .browseComponent a, #domainsBar .spaceLevel1On .browseSpace .browseComponentActiv a {
     padding-left: 58px;
}

#domainsBar .spaceLevel1On .browseSpace .browseSpace > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 28px -2px transparent;
     color: #616063;
     padding: 4px 10px 4px 52px;
}

#domainsBar .spaceLevel1On .contentSpace .contentSpace .spaceOn > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 28px -153px transparent;
     color: #7EB73B;
}

#domainsBar .spaceLevel1On .browseSpace .browseSpace .browseComponent a, #domainsBar .spaceLevel1On .browseSpace .browseSpace .browseComponentActiv a {
     padding-left: 78px;
}

#domainsBar .spaceLevel1On .browseSpace .browseSpace .browseSpace > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 48px -2px transparent;
     color: #616063;
     padding: 4px 10px 4px 72px;
}

#domainsBar .spaceLevel1On .contentSpace .contentSpace .contentSpace .spaceOn > a {
     background: url("imgDesign/packFleche.png") no-repeat scroll 48px -153px transparent;
     color: #7EB73B;
}

#domainsBar .spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponent a, #domainsBar .spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponentActiv a {
     padding-left: 98px;
}

.spaceLevel1On .browseSpace .browseComponent a, .spaceLevel1On .browseSpace .browseComponentActiv a {
     background: url("") repeat scroll 0% 0% transparent;
     border: 0px none;
     padding: 5px 10px 0px 52px;
     text-transform: inherit;
}

.spaceLevel1On .browseSpace .browseComponent img.browseIconComponent, .spaceLevel1On .browseSpace .browseComponentActiv img.browseIconComponent {
     left: 29px;
     top: 4px;
}

.spaceLevel1On .browseSpace .browseSpace .browseComponent a, .spaceLevel1On .browseSpace .browseSpace .browseComponentActiv a {
     background: url("") repeat scroll 0% 0% transparent;
     border: 0px none;
     padding: 5px 10px 0px 72px;
     text-transform: inherit;
}

.spaceLevel1On .browseSpace .browseSpace .browseComponent img.browseIconComponent, .spaceLevel1On .browseSpace .browseSpace .browseComponentActiv img.browseIconComponent {
     left: 50px;
     top: 4px;
}

.spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponent a, .spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponentActiv a {
     background: url("") repeat scroll 0% 0% transparent;
     border: 0px none;
     padding: 5px 10px 0px 92px;
     text-transform: inherit;
}

.spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponent img.browseIconComponent, .spaceLevel1On .browseSpace .browseSpace .browseSpace .browseComponentActiv img.browseIconComponent {
     left: 70px;
     top: 4px;
}

#spacePerso {
     background: url("imgDesign/espacePerso.gif") repeat-x scroll 0px 0px #F2F2F2;
     bottom: 0px;
     left: 0px;
     position: fixed;
     width: 100%;
}

#contentSpacespacePerso{
	 padding-bottom:15px;
}

#domainsBar #spaceMenuDivId #spacePerso .spaceURL {
     background: url("imgDesign/spacePersoDeco.png") no-repeat scroll right top transparent;
     color: #FFFFFF;
     display: block;
     font-weight: 100;
     height: 50px;
     line-height: 50px;
     padding-left: 11px;
     text-align: left;
}

#domainsBar #spacePerso .browseComponentActiv a {
     color: #1C94D4;
     font-weight: bold;
}

#domainsBar #spacePerso .contentSpace {
     background-color: transparent;
     clear: both;
}

#domainsBar #spacePerso .contentSpace .browseComponent {
     text-align: left;
}

#domainsBar #spacePerso .contentSpace a {
     padding-left: 10px;
}

#domainsBar .milieuBoutonV5 a, .milieuBoutonV5 a {
     color: #FFFFFF;
}

.sousOnglets, .milieuOngletOn a, .milieuOngletOff a:hover, .milieuOngletOn span {
     background-color: #7EB73B;
     color: #FFFFFF;
}

.milieuOngletOn a {
     color: #FFFFFF;
     font-weight: 100;
}

.milieuOngletOff a,
.milieuOngletOff span {
     background-color: #D6D7D9;
}

.milieuOngletOff a {
     color: #666666;
}

.milieuOngletOff a:hover {
     color: #FFFFFF;
}

#menutoggle {
     background: url("imgDesign/qvf.png") repeat scroll left top #EC9C01;
     border: 0px none;
     margin-top: 8px;
}

#topPage .yuimenu, #kmelia .yuimenu, #attachmentList .yuimenu {
     background-color: #F2F2F2;
     border: 1px solid #5D5D5E;
}

#topPage .yuimenu ul, #kmelia .yuimenu ul, #attachmentList .yuimenu ul {
     border-color: #5D5D5E;
}

.yuimenu a, #portletPages .yuimenu a {
     background-color: #F2F2F2;

}

.yuimenuitemlabel, .yuimenuitemlabel:visited, .yuimenubaritemlabel, .yuimenubaritemlabel:visited {
	   color: #5D5D5E;
}

.yuimenu .yuimenubaritem-selected, .yuimenu .yuimenuitem-selected {
     background-color: #F2D5D8;
}

.yuimenu a:hover, #portletPages .yuimenu a:hover {
     background-color: #EC9C01;
     border-color: #EC9C01;
     color: #FFFFFF;
}

#portletPages .list-responsible-user .action a:hover, .list-responsible-user .action a:hover {border-bottom:0}

#blog #titresTopics a, #blog #titresArchives a, #blog #titresLiens a, .titreCouleur {
     color: #444443;
}

.txtlibform, .textePetitBold {
     color: #444444;
}

#myProfileFiche .action .link, #publicProfileFiche #contactCommun .link, #publicProfileFiche #allContact .link, .txtnav, .txtbigdate, .txttitrecol, #directory .link {
     border-color: #EC8601;
     color: #EC8601;
     line-height: 12px;
}


#recherche #bodyRecherche, #recherche #bodyRecherche a ,
#recherche #submitRecherche input ,
.ArrayColumn,
#classifieds .tableFrame #categories .categoryTitle{
	font-size:8pt;
}

.commentaires #edition-box .title, .commentaires .oneComment p.author,
#portletPages div.portlet-content ,
#domainsBar a,
.sousNavBulle, .container-filter, .sousNavBulle a,
.txtnav, .txtlibform,
.txtnote,
.txtBaseline,
caption,
Label, legend{
     font-size:9pt;
}


.ongletAdminOn span.textePetitBold, .ongletAdminOff span.txtPetitBlanc,
.componentNav,
#spaces-welcome-message p,
#spaces-welcome-message ul,
#spaces-welcome-message a ,
.titreForum,
.ArrayNavigation,
.skinFieldset legend,
#globalResultForm,
#globalResultQueryLabel,
#globalResultParamDisplayLabel,
.titreFenetre ,
#portletPages dl.sort ,
#portletPages dl.sort dd,
button.ui-button.ui-widget,
.milieuBoutonV5 a,
.milieuOngletOn a,
.milieuOngletOff a,
button,
.ongletAdminOn .txtPetitBlanc,
.ongletAdminOn strong,
.yuimenu a , #portletPages .yuimenu a,
.spaceHome #publication li ,
#menubar-creation-actions .menubar-creation-actions-item, #attachment-creation-actions .menubar-creation-actions-item{
     font-size:10pt !important;
}



.sousTitreFenetre,
#menutoggle,
#administration a,
.spaceHome .list-responsible-user .userName,
.spaceHome .spaceNavigation li a,
#browseBar #breadCrumb a:visited, #browseBar #breadCrumb a:active, #browseBar #breadCrumb a:link, #browseBar #breadCrumb a:hover, #browseBar #breadCrumb, #browseBar .information{
	font-size: 10.5pt;
	font-family:"texgyreadventor","Century Gothic","Trebuchet MS",Arial, sans serif;
}

.spaceHome #spaceQuiskInfo li.slide > h4 a ,
.spaceHome #publication li a b,
.spaceHome #publication .header h4{
	font-size: 11.5pt;
	font-family:"texgyreadventor","Century Gothic","Trebuchet MS",Arial, sans serif;
}

#facetSearchDivId #searchGroupTitle span ,
#domainsBar #spaceMenuDivId #spacePerso .spaceURL,
#topBar #outils div.avatarName a {
    font-size: 12pt;
	font-family:"texgyreadventor","Century Gothic","Trebuchet MS",Arial, sans serif;
}

#portletPages h2.portlet-title,
#shortcuts a , #shortcuts a:hover, #shortcuts a:focus, #shortcuts td.activeShortcut a{
	font-size:12pt;
	font-family:"texgyreadventor","Century Gothic","Trebuchet MS",Arial, sans serif;
}

.spaceHome .spaceName ,
#domainsBar .spaceLevel1 a.spaceURL, #domainsBar .spaceLevel1On a.spaceURL{
	font-size:14pt;
	font-family:"texgyreadventor","Century Gothic","Trebuchet MS",Arial, sans serif;
}


.ongletAdminOn span.textePetitBold, .ongletAdminOff span.txtPetitBlanc {

	 font-weight:100;
}
.ArrayColumn, #classifieds .tableFrame #categories .categoryTitle, .tableArrayPane thead {
     background-color: #D6D7D9;
     color: #000000;
}

.ArrayColumn a {
     color: #000000;
}

.ArrayColumn a:hover {
     color: #444444;
}

.pageNav {
     background-color: #FFFFFF;
}

.pageNav .pageIndex {
     background-color: transparent;
     border-right: 1px solid #444443;
}

.skinFieldset legend {
     background-color: #FFFFFF ! important;
     border-radius: 5px;
     padding-right: 20px;
}

.rightContent #dNdActionLabel {
     color: #333333;
}

#settings .txtlibform, #settings .textePetitBold, .pdcPosition h3, #blog #blogContainer #bandeau a, #backHomeBlog a {
     color: #444443;
}

.eventName a {
     color: #444443 ! important;
}

.eventMonth {
     background-color: #FFFFFF;
     color: #212322 ! important;
}

.eventsView #navigation {
     background-color: transparent;
}

#menubar-creation-actions, #attachment-creation-actions {
     background-color: #FDF4EF;
     border-bottom: 1px solid #EDBCBB;
     border-top: 1px solid #EDBCBB;
}

#menubar-creation-actions .menubar-creation-actions-item:hover, #attachment-creation-actions .menubar-creation-actions-item:hover {
     background-color: #EDBCBB;
     color: #00395A;
}

#classified_contact_link {
     width: 166px;
}

.spaceHome .spaceName {
     background-color: #7EB73B;
     color: #FFFFFF;
     display: inline;
     font-weight: 100;
     padding: 0px 10px;
}

.spaceHome .spaceDescription {
     border-left: 6px solid #E4E4E4;
     color: #666666;
     padding: 8px;
}


.spaceHome .spaceNavigation li.browse-space a {
     background: url("/weblib/skinBigAndAngular/imgDesign/bg_menu_level1.png") no-repeat scroll 0px -10px transparent;
     padding-left: 38px;
}

.spaceHome .spaceNavigation li p {
     padding-left: 38px;
}

.spaceHome .spaceNavigation li.browse-component p {
     padding-left: 0;
}
.spaceHome #spaceManager h2.portlet-title {
     color: #7EB73B;
}

.spaceHome #spaceManager ul {
     list-style: none outside none;
     padding: 0px;
}

.spaceHome #spaceManager .intfdcolor {
     background-color: transparent;
}

.portlet #calendar li.events {
     background: none repeat scroll 0% 0% #F0F0F0;
border-bottom: 1px solid #F0F0F0;
margin:0;
}

.portlet #calendar .eventInfo {
     background-color: #FFFFFF;
}

.spaceHome #spaceEvent h2.portlet-title, .spaceHome #spaceQuiskInfo h2.portlet-title {
     color: #777777;
}

.spaceHome #publication .bgDegradeGris, .spaceHome #publication.bgDegradeGris {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     margin: 0px;
     padding: 0px;
	 behavior: none;
}

.spaceHome #publication.bgDegradeGris {
     border-radius: 0px;
     border-top: 2px dotted #E4E4E4;
     margin-top: 2em;
     padding-top: 1em;
	 behavior: none;
}

.spaceHome #publication .header h4 {
     color: #777777;
     font-weight: 100;
     margin: 0px;
     padding: 0px;
}

.header h4 {
    font-size: 100%;
}

.spaceHome #publication li {
     list-style-image: url("/weblib/skinBigAndAngular/imgDesign/puce.png");
}
.spaceHome #publication li a:hover {
    background-color:#F0F0F0;
}

.spaceHome #publication li a b {
     color: #333333;
     font-weight: 100;
}

.spaceHome #publication li a:hover b {
color:#1C94D4;
}

.spaceHome #publication li .userToZoom {
     color: #1C94D4;
}

.spaceHome #spaceQuiskInfo li.slide {
  cursor: pointer;
}

.spaceHome #spaceQuiskInfo li.slide > h4 a {
     color: #EC7501;
     font-weight: 100;
     line-height: 120%;
}

.spaceHome #spaceQuiskInfo li.slide p {
     line-height: 110%;
}

.spaceHome #spaceQuiskInfo .slides-pagination a:hover, .spaceHome #spaceQuiskInfo .slides-pagination .selected a {
     background-color: #EC7501;
}

.spaceHome .list-responsible-user li {
     width: auto;
}

.btn-deploy-all-item, #dynamicalLoad, #displaying, #displaying a {width:auto}
#displaying {width:228px;}

/****** Ticker ******/
#topBar #desktop-notifications-permission {
	top:2px;
	background-position:0 1px;
}

#topBar #ticker {
    height: 22px;
    left: 0;
    position: absolute;
    right: 0;
    top: 54px;
    background-color: #fbf7aa;
	border-top:2px solid #f9e98e;
	border-bottom:2px solid #f9e98e;
	display: none;
}

#sp-ticker .ticker-wrapper.has-js {
    background-color: #fbf7aa;
}

#sp-ticker .ticker {
    background-color: #fbf7aa;
}

#sp-ticker .ticker-title {
	background-color: #fbf7aa;
}
#sp-ticker .ticker-content {
	background-color: #fbf7aa;
	line-height: 15px;
}