#*
 * Copyright (C) 2000 - 2012 Silverpeas
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * As a special exception to the terms and conditions of version 3.0 of
 * the GPL, you may redistribute this Program in connection with Free/Libre
 * Open Source Software ("FLOSS") applications as described in Silverpeas's
 * FLOSS exception.  You should have received a copy of the text describing
 * the FLOSS exception, and it is also available here:
 * "http://www.silverpeas.org/legal/licensing"
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2011 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<document>
  <properties>
    <author>Emmanuel Hugonnet</author>
    <title>Introduction</title>
  </properties>
  <head>
  </head>
  <body>
    <section name="Architecture">
      <p>
        <img align="right" src="images/bus_silverpeas.png" alt="" />
      </p>        
      <p>Silverpeas functions in the Java J2EE environment. The WCM layer is used to publish public contents on the web and to build an Xnet platform, or Web 2.0 website.
        The Services Oriented Architecture is made up of:
      </p>
      <ul>
        <li>
          <strong>an applicative bus for:</strong>
          <ul>
            <li>authentification</li>
            <li>rights management</li>
            <li>a search engine</li>
            <li>a workflow engine</li>
            <li>notifications</li>
            <li>subscriptions</li>
            <li>versioning</li>
          </ul>
        </li>
        <li>
          <strong>specific services for different professional sectors.</strong>
          <ul>
            <li>Document Management</li>
            <li>Collaborative Management</li>
            <li>Knowledge Management</li>
            <li>Content Management</li>
            <li>Workflow</li>
            <li>Connectors</li>
          </ul>
        </li>      
      </ul>
    </section>
    <section name="Operating Systems">
      <p>Silverpeas operates under</p>
      <ul>
        <li>Windows</li>
        <li>Mac</li>
        <li>Linux,</li>
        <li>with a relational database (SQL ANSI), and a Java EE application serveur.</li>
      </ul>
    </section>   
  </body>
</document>
