html, body {
     height: 100%;
}

body {
     font-family: "Arial",sans-serif;
     font-size: 12px;
     margin: 0px;
     padding: 0px;
}

#header {
     background-image: url("/silverpeas/admin/jsp/icons/silverpeas_light/bandeauTop.jpg");
     height: 115px;
     left: 0px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 100;
}

#header h1 {
     display: none;
}

ul, li, p, h1, h2 {
     margin: 0px;
     padding: 0px;
}

#breadcrumb {
     background-color: #2D2D2D;
     color: #FFFFFF;
     left: 0px;
     line-height: 32px;
     padding: 0px 12px;
     position: fixed;
     top: 115px;
     width: 100%;
     z-index: 100;
	 height:33px;
}

#breadcrumb .validityInfo{
     background-color: #333333;
     border-left: 1px solid #666666;
     border-right: 1px solid #666666;
     color: #FFFFFF;
     padding: 0px 12px;
     position: absolute;
     right: 133px;
	 text-align: center;
    top: 0;
    width: 232px;
}

#breadcrumb .sharingBy{
     background-color: #333333;
     border-left: 1px solid #666666;
     color: #FFFFFF;
     padding: 0px 12px;
     position: absolute;
     right: 390px;
     top: 0px;
}

#breadcrumb .silverpeasLink {
     position: absolute;
     right: 10px;
     top: 0px;
}

#breadcrumb .silverpeasLink img {
     border: 0px none;
}

#explorer {
     background-color: #F5F5F5;
     height: 100% ! important;
     left: 0px;
     overflow: auto;
     position: fixed;
     top: 0px;
     width: 35%;
     z-index: 1;
}

#explorer > ul {
     margin: 155px 10px 10px ! important;
}

#publications {
     float: right;
     font-size: 11px;
     height: 100%;
     width: 65%;
}

#publications .container {
     border-left: 1px solid #E5E5E5;
     height: 100%;
}

#publicationsList {
     padding-bottom: 32px;
     padding-top: 147px;
}

#publications ul {
     list-style-type: none;
}

#download-link {
     background: url("generic-elts/btnTelecharger.png") no-repeat scroll right top transparent;
     color: #FFFFFF;
     font-size: 10px;
     height: 30px;
     padding: 104px 8px 0px 0px;
     position: fixed;
     right: -87px;
     text-align: right;
     text-decoration: none;
     top: 215px;
     width: 79px;
}

#download-link:hover {
     background-image: url("generic-elts/btnTelechargerHover.png");
}

#pagination {
     bottom: 0px;
     height: 40px;
     line-height: 20px;
     padding: 0px ! important;
     position: fixed;
     right: 0px;
     width: 65% ! important;
}

#pagination > * {
     margin-left: 10px;
     margin-top: 10px;
}

.pager DIV.short {
     width: 100px;
}

#publications .publication {
     background-color: #FFFFFF;
     background-image: url("generic-elts/gradientSVG.jsp?from=FFFFFF&to=F7F7F7&vertical=0&horizontal=100");
     border-bottom: 1px solid #E5E5E5;
     padding: 12px 12px 6px;
}

#publications .publication .name {
     font-weight: bold;
}

#publications .attachment {
     padding: 4px 0px 0px 56px;
     position: relative;
}

#publications .description {
     margin-bottom: 4px;
}

#publications .attachment a img {
     border: 0px none;
     left: 32px;
     position: absolute;
     top: 4px;
}

#publications .attachment a {

}

#publications .attachment .size, #publications .attachment .description {
     color: #333333;
     display: list-item;
}

#publications .attachment input[type="checkbox"] {
     left: 0px;
     position: absolute;
     top: 3px;
}

#empty-folder {
     color: #CCCCCC;
     display: block;
     font-size: 24px;
     text-align: center;
}

#downloadZip-dialog p {
     font-size: 14px;
     margin-top: 22px;
     text-align: center;
}




#publication {
    margin-top: 155px;
	display:inline-block;
	width:100%;
}

.publiName {
    color: #333333;
    font-size: 130%;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}

.publiDesc {
    color: #575757;
    font-weight: normal;
    border-left: 6px solid #e4e4e4;
    padding: 8px;
}

#richContent {
	margin:1em 380px 1em 0;
}

#publication .container{
	padding:1em;
}
.clean {
    margin: 0;
    padding: 0;
}
.bgDegradeGris {
    border: 1px solid #cdcdcd;
    color: #333;
    margin-bottom: 10px;
    min-height: 14px;
}
.bgDegradeGris.header, .bgDegradeGris .header {
    background-image: url("icons/gradientSVG.jsp?from=fff&to=e5e5e5&vertical=0&horizontal=100");
    border-color: -moz-use-text-color -moz-use-text-color #cdcdcd;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin: 0;
    min-height: 14px;
    padding: 5px;
}
.header h4 {
    font-size: 110%;
    min-width: 300px;
}
* html .bgDegradeGris {
    background-color: #e9e9e9;
}
* html .bgDegradeGris.header {
    background-color: #efefef;
}
.bgDegradeGris p, .bgDegradeGris .paragraphe {
    color: #666;
    font-size: 100%;
    line-height: 140%;
    margin: 0;
    padding: 11px 17px 0;
    position: relative;
}
.bgDegradeGris p b, .bgDegradeGris .paragraphe b {
    color: #333;
    font-weight: 100;
}

#publication  .attachments {
	float:right;
	width:350px;
}

#publication .attachments input{
	float:right;
}

#publication .attachments ul{
	list-style-type:none;
	margin:1em;
}
#publication .attachments li{
	clear:right;
	margin-bottom:1em;
}
#publication  #download-link {
	top:10px;
	z-index: 100;
}

#publication .attachments ul a {
	color:#1c94d4;
}

#publication .attachments ul p {
	display:block;
	padding:0 0 0 25px;
	margin:0;
}
#publication .attachments ul p.description {
	color:#777;
}
#publication .attachments ul a img {
	margin-right:0.5em;
	vertical-align:middle;
	border:0;
}
#publication .attachments ul span.size {
	color:#2d2d2d;
}


/* Default forms look n feel */
#richContent .forms .form-border {
	border:1px solid #CCC;
}

#richContent .forms .form-title {
	color: #333333;
    font-size: 130%;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}

#richContent .forms .legend {
	padding: 10px 0px 0px 10px;
}

#richContent .forms .fields .fieldInput {
	display:inline-block;
}

#richContent .forms .fields label {
	display: inline-block;
    float: inherit;
    height: 20px;
    padding-left: 15px;
    width:180px;
	float:left;
	font-weight: bold;
	color: #444;
}

#richContent .forms .field .fieldInput input,
#richContent .forms .field .fieldInput textarea,
#richContent .forms .field .fieldInput select {
	width:auto;
}

#richContent .forms .fields {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#richContent .forms .fields > li{
	padding:10px 0 5px 2%;
	margin:0 0 0 0;
	position:relative;
	display:block;
	float:inherit;
	width:98%;
	min-height: 28px;
}

/* design and edition modes */
#richContent form .forms .fields > li:nth-child(odd) {
	background-color:#fffce7;
	border-bottom:1px solid #ccc;
}
#richContent  form .forms .fields > li:nth-child(even) {
	background-color:#f6f6f6;
	border-bottom:1px solid #ccc;
}

/* view mode */
#richContent .forms .fields > li:nth-child(odd) {
	background-color:#f9f9f9;
	border-bottom:1px solid #ddd;
}
#richContent .forms .fields > li:nth-child(even) {
	background-color:#f6f6f6;
	border-bottom:1px solid #ddd;
}

#richContent .forms .field .actions {
	position:absolute;
	top:10px;
	right:1%;
}

#richContent .forms .field ul.repeatable-field-list {
	list-style-type: none;
	padding-left: 0px;
}

#richContent .forms .actions img{
	border:0;
}

#richContent .forms .field-occurrence-hidden {
	display: none;
}


/*** Rich Content ******/
#richContent ul, #richContent li, #richContent p, #richContent h1, #richContent h2 {
     margin:inherit;
     padding: inherit;
}

/*** Style WYSIWYG ******/

#richContent  h2.wysiwyg-title1 {
	border-left:3px solid #2a2a2a ;
	color:#2a2a2a;
	font-size:16px;
	padding:0 6px;
}
#richContent h3.wysiwyg-title2{
	border-left:3px solid #7eb73b ;
	color:#7eb73b;
	font-size:14px;
	padding:0 6px;
}

#richContent strong.wysiwyg-focus {
	background-color:#2a2a2a ;
	color:#FFF;
}

#richContent p.wysiwyg-important{
	background-color: #F5F5F5;
	border-radius: 0 10px 0 10px;
	padding: 9.5px;
	border:1px solid #ebebeb;
	font-size:110%;
}

#richContent blockquote {
    border-left:1px solid #E4E4E4;
    margin:0;
    padding-left:1.5em;
    font-style:italic;
    color:#666;
}
