/* 
    Document   : socialNetwork
    Created on : 27 août 2010, 15:55:36
    Author     : azzedine
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/***********Style de table générer par getJSON ""SocialInformation"*******************/
     .SocialInformations  .socialIcon img
      {
        width: 15px;
        margin-left: 3px;
        margin-right: 3px;
      }
     .SocialInformations  .socialTitle a
      {
        color: #5889BB;
        font-size: 11px;
        font-weight: bold;
      }

      .SocialInformations .socialTitle
      {
        float:left;
        font-weight:bold;
        margin:5px;
        width:100%;
        color:#333333;
      }
      .SocialInformations .socialDescription
      {float: left;
       margin-left:12px;
       margin-top: -4px;
       width:90%;
       text-align: justify;
      }
       #getNext
      {
        float: left;
        width: 100%;
        margin: 2px;
        padding: 2px;
      }
     .SocialInformations  .profilPhoto
      { float: left;
        width:  45px;
      }
      .SocialInformations .profilPhoto img
      {
        width: 40px;
        height: 40px;
        border: 1px solid #AAAAAA;

      }
      .SocialInformations .titleAndDes{
        float: left;
        width: 90%;
        white-space: normal;
      }
     .SocialInformations  .socialTable
      {
        clear: left;
        float: left;
        width: 98%;
        margin: 2px;
      }
     .SocialInformations  .socialActivity {
        font-size: 11px;
        font-weight: bold;
      }
      .SocialInformations .socialHour {
        font-size: 10px;
        color: #999999;
      }
      .SocialInformations .socialDate {
        font-size: 17px;
        font-weight: normal;
        color: #666666;
        clear: right;
        margin-bottom: 5px;
        font-family: "Trebuchet MS",Verdana,sans-serif;
      }

